<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>altair</title>
  <script src="https://cdn.jsdelivr.net/npm/vega@3.3.1"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@2.3.1"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@3.5.0"></script>

</head>
<body>

    <h1>My chart</h1>




    <div id="viz-view">


    </div>

      

    <script>

        var mydata = {{ viz | tojson }};

       vegaEmbed('#viz-view', mydata);


    </script>






<section class="debug">
    <h2>debug</h2>
<pre>
<code>
{{ viz  | tojson }}
</code>
</pre>      
</section>
  

</body>
</html>
