<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'snippets/sitewide/head-meta.html' %}
    <title>Page Title</title>
</head>

<body class="infopage">

{% include 'snippets/sitewide/header.html' %}

<div class="container">

    <h1>Examples</h1>
    <p>
        Here you will find examples of dynamic areas of change in the United States.
    </p>

    <h3>Washington, D.C.</h3>
        <p>
            Include map/anecdote about the data for DC
        </p>

    <h3>Saint Louis, MO</h3>
        <p>
            Include map/anecdote about the data for STL
        </p>

    <h3>Fort Worth, TX</h3>
        <p>
            Include map/anecdote about the data for Forth Worth
        </p>

    <h3>San Francisco, CA</h3>
        <p>
            Include map/anecdote about the data for San Francisco
        </p>

</div>
{% include 'snippets/sitewide/footer.html' %}


