<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'snippets/sitewide/head-meta.html' %}
    <title>Page Title</title>
</head>

<body class="infopage">

{% include 'snippets/sitewide/header.html' %}

<div class="container">

    <h1>Examples</h1>
    <p>
        Here you will find examples of dynamic areas of change in the United States.
    </p>

    <h3>Washington, D.C.</h3>
        <p>
            The nation's capital is home to some of the most heavily-gentrifying zip codes in the country, according to an <a href="https://www.rentcafe.com/blog/rental-market/real-estate-news/top-20-gentrified-zip-codes/">analysis</a> by RentCafe. In fact, two of the top 20 gentrified zipcodes are located in D.C., with home values going up an average of 176 percent between 2000-2016. For decades, black residents were the majority in the city -- making up 70 percent of residents in 1980 -- until 2015, when that number fell to 48 percent.
        </p>

    <h3>St. Louis, MO</h3>
        <p>
            St. Louis is notable because it is the only Midwest city on <a href="https://www.rentcafe.com/blog/rental-market/real-estate-news/top-20-gentrified-zip-codes/">RentCafe's</a> list of most gentrified zipcodes between 2000-2016. Unlike other rapidly-gentrifying cities, the population of St. Louis city has declined over the last several decades, and real estate prices remain relatively modest.
        </p>

    <h3>Fort Worth, TX</h3>
        <p>
            Include map/anecdote about the data for Forth Worth
        </p>

    <h3>San Francisco, CA</h3>
        <p>
            Include map/anecdote about the data for San Francisco
        </p>

</div>
{% include 'snippets/sitewide/footer.html' %}


