<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'snippets/sitewide/head-meta.html' %}
    <title>Page Title</title>
</head>

<body class="infopage">

{% include 'snippets/sitewide/header.html' %}

<div class="container">

    <h1>Methodology</h1>

    <h3>Data</h3>
    <p>
        This app uses data collected by the <a href="https://www.census.gov/programs-surveys.html">United States Census Bureau</a>. 
    </p>
    <p>
        Data comes from the (1990/2000) <a href="https://www.census.gov/programs-surveys/decennial-census/2020-census/about.html">Decennial</a> and the 5-year <a href="https://www.census.gov/programs-surveys/acs/about.html">American Community Surveys</a> for 2005-2009 and 2009-2016.
    </p>
    <p>
        Geographic and map data is from <a href="https://www.mapbox.com">Mapbox</a>.
    </p>
    
    
    <h3>Analysis</h3>
    <p>
        Data points were chosen to measure gentrification based on similar analyses by <a href="http://www.governing.com/gov-data/gentrification-in-cities-governing-report.html">Governing</a> and <a href="https://www.citylab.com/equity/2013/11/why-some-places-gentrify-more-others/7588/">CityLab</a>.
    </p>
    <p>
        Gentrification is generally <a href="http://www.pbs.org/pov/flagwars/what-is-gentrification/">defined</a> as the process of wealthier residents moving into urban areas and displacing the existing communities, and often falls on racial and economic lines. In a 2015 article in <a href="https://www.theatlantic.com/politics/archive/2015/09/this-is-what-happens-after-a-neighborhood-gets-gentrified/432813/">The Atlantic</a>, Richard Florida writes "Displacement is becoming a larger issue in knowledge hubs and superstar cities, where the pressure for urban living is accelerating. These particular cities attract new businesses, highly skilled workers, major developers, and large corporations, all of which drive up both the demand for and cost of housing. As a result, local residents -- and neighborhood renters in particular -- may feel pressured to move to more affordable locations."
    </p>
    <p>
        Benjamin Grant, an urban planner in the San Francisco Bay Area, <a href="http://www.pbs.org/pov/flagwars/what-is-gentrification/">notes</a> that while gentrification has no clear-cut definition, it is often characterized by changes in demographics (increased median income, decline of proportion of racial minorities, and reduction in household size) as well as changes in real estate markets, like the increase of ownership units and rent prices. As such, changes in median income levels, property values, race and education are used as proxies for measuring gentrification. 
    </p>

    <h3>Limitations</h3>
    <p>
        Not every data field in the ACS survey has a comparable value in the Decennial Census data. As such, exact comparisons for should be taken cautiously, due to differences in methodology like sample size, collection date and universe. A more detailed explanation of differences between surveys can be found at <a href="https://www.lib.ncsu.edu/census/decvsacs">North Carolina State University Libraries</a>.
    </p>
    <p>
        Data points that do not have exact comparisons between ACS and Decennial surveys are: TK.
    </p>

    <h3>Technical</h3>
    <p>
        This app was built with TK
    </p>
</div>
{% include 'snippets/sitewide/footer.html' %}


