<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'snippets/sitewide/head-meta.html' %}
    <title>Page Title</title>
</head>

<body class="infopage">

{% include 'snippets/sitewide/header.html' %}

<div class="container">

    <h1>Methodology</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit itaque, molestiae adipisci nemo tempora quidem. Inventore exercitationem ea dignissimos, aspernatur incidunt, maiores ut. Reiciendis modi dignissimos est asperiores in voluptatum.
    </p>


</div>
{% include 'snippets/sitewide/footer.html' %}


