<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'snippets/sitewide/head-meta.html' %}
    <title>Page Title</title>
</head>

<body class="infopage">

{% include 'snippets/sitewide/header.html' %}

<div class="container">

    <h1>Methodology</h1>

    <h3>Data</h3>
    <p>
        This app uses data collected by the <a href="https://www.census.gov/programs-surveys.html">United States Census Bureau</a>. Data comes from the (1990/2000/2010) <a href="https://www.census.gov/programs-surveys/decennial-census/2020-census/about.html">Decennial</a> and the 5-year <a href="https://www.census.gov/programs-surveys/acs/about.html">American Community Surveys</a> for 2005-2009 and 2009-2016 . 
    </p>

    <h3>Analysis</h3>
    <p>
        Gentrification is generally <a href="http://www.pbs.org/pov/flagwars/what-is-gentrification/">defined</a> as the process of wealthier residents moving into urban areas and displacing the existing communities, and often falls on racial and economic lines. 
    </p>
    <p>
        Data points were chosen to measure gentrification based on similar analyses by <a href="http://www.governing.com/gov-data/gentrification-in-cities-governing-report.html">Governing</a> and <a href="https://www.citylab.com/equity/2013/11/why-some-places-gentrify-more-others/7588/">CityLab</a>. Changes in median income levels, property values, race and education are used as proxies for measuring the impact of gentrification.
    </p>

    <h3>Limitations</h3>
    <p>
        TK caveats about comparing across Census surveys and years - some questions have changed, not all questions have identical questions, etc.
    </p>

    <h3>Technical</h3>
    <p>
        This app was built with TK
    </p>
</div>
{% include 'snippets/sitewide/footer.html' %}


