body{
    background-color: #ced7e5;
    text-align: left;
}


h1.page-title{
    font-size: 2.6em;
    margin-top: 1em;
    margin-bottom: 1em;
}


.lede-image{
    text-align: center;
    margin: 0 auto;
}

/* specific stuff... */

.homepage .lede-image img{
    max-height: 350px;
}

section#debug{
    background: #ced7e5;
}

div.col-sm-6 ul{
    display:inline-block;
    text-align: left;
}

section#homepagetables{
    align: center;
}

.display-3{
    margin-bottom: 50px;
}

div#metricpages h3{
    margin: 1em;
}

div#proto{
    display: inline-block;
}

div#homepagetables img#example{
    margin-top: 5em;
    position: absolute;
    right: 12em;
}

div.container section#debug img{
    max-width: 80%;
}

section#debug img#ex{
    max-width:45%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

img#example{
    height: 300px;
    display:inline-block;
    margin-left:12em;
}

body.tract h1.page-title{
    margin-bottom: 0;
}

.query-note{
    font-size: 0.9em;
    font-style: italic;
    margin-top: 1em;
}

div.row div.col-sm-6{
    margin-top: 1em;
}

div.row div.col-sm-8{
    margin-top: 1em;
}

.btn-primary{
    margin-top: 1em;
}

div.toc{
    margin-top: 1em;
}

div#explore{
    display:inline-block;
    position:relative;
}

div.row#selectors div{
    margin-right:18px;
    margin-top:1em;
}

div.col-sm-4#metrics{
    display:inline-block;
}

div img#heatmap{
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 750px;
}