body{
    background-color: #ced7e5;
    text-align: left;
}


h1.page-title{
    font-size: 2.6em;
    margin-top: 1em;
    margin-bottom: 2em;
}


.lede-image{
    text-align: center;
    margin: 0 auto;
}

/* specific stuff... */

.homepage .lede-image img{
    max-height: 300px;
}

section#debug{
    margin-top: 10em;
    background: #ced7e5;
}

div.col-sm-6 ul{
    display:inline-block;
    text-align: left;
}

section#homepagetables{
    align: center;
}