table.table-data td, table.table-data thead th{
    text-align: right;
}

table.table-data td:first-child, table.table-data thead th:first-child{
    text-align: left;
    font-weight: bold;
}

table.proto{
    text-align: justify;
    padding: 10px;
    white-space: nowrap;
    display: inline-block;
}

table.proto th, td{
    padding: 5px;
    border: 2px solid #000000;
}

table.proto td:hover{
    background-color: royalblue;
}

table.homepage{
    padding: 10px;
    white-space: nowrap;
    display: inline-block;
}

table.homepage th{
    padding: 5px;
}