table.table-data td, table.table-data thead th{
    text-align: right;
}

table.table-data td:first-child, table.table-data thead th:first-child{
    text-align: left;
    font-weight: bold;
}

#proto{
    text-align: left;
    border: 1px black;
    padding: 10px;
    white-space: nowrap;
}

#proto th, td{
    border: 1px black;
    padding: 5px;
}