
<table class="table .table table-responsive table-bordered table-striped table-sm">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                {{state['name']}}
            </th>
            <th>
                {{US['name']}}
            </th>
        </tr>
    </thead>
    <tbody>
        {% set racefields = ['Population',
                                'Median Age',
                                'Median household income',
                                'White population',
                                'Non-white population',
                                ]


        %}

        {% for fieldname in racefields %}

            <tr>
                <td>{{fieldname}}</td>
                <td>{{state[fieldname]}}</td>
                <td>{{US[fieldname]}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>