

        {% set fields  = [

                ('Total housing units', 'total_housing_units'),
                ('Total households', 'total_households'),
                ('Renter-occupied homes', 'renter_occupied_pct'),
                ('Renters who moved in the past 5 years', 'rented_past_5_years_ago_pct'),
                ('Renters who moved within the past year', 'rented_less_than_year_ago_pct'),
            ]

        %}


<section id="housing" class="data-table">
    <h3>Housing</h3>

    {% with fields=fields, entities=entities_group %}
        {% include 'snippets/data-tables/data-table-template.html' %}
    {% endwith %}

</section>
