
        {% set fields  = [
                ('Income per capita', 'income_per_capita'),
                ('Households with $200,000+ incomes', 'income_200k_pct'),
                ('People living in poverty', 'poverty_pct'),
                ('Homes valued $1,000,000+', 'homes_over_1m_pct')
            ]
        %}




<section class="data-table" id="income">
    <h3>Income</h3>

{% with fields=fields, entities=entities_group %}
    {% include 'snippets/data-tables/data-table-template.html' %}
{% endwith %}

</section>


