
<table class="table .table table-responsive table-bordered table-striped table-sm">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                {{state['name']}}
            </th>
            <th>
                {{US['name']}}
            </th>
        </tr>
    </thead>
    <tbody>
        {% set residencyfields =  [
                                'Born in state',
                                'Percent born in state',
                                'Born in other state',
                                'Percent born in other state',
                                'Foreign born',
                                'Percent foreign born',
                                'Moved in 1979 and earlier',
                                'Moved in 1980 to 1989',
                                'Moved in 1990 to 1999',
                                'Moved in 2010 to 2014',
                                'Moved in 2015 or later',
                                ]


        %}



        {% for fieldname in residencyfields %}

            <tr>
                <td>{{fieldname}}</td>
                <td>{{state[fieldname]}}</td>
                <td>{{US[fieldname]}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


