
<table class="table .table table-responsive table-bordered table-striped table-sm">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                {{state['name']}}
            </th>
            <th>
                {{US['name']}}
            </th>
        </tr>
    </thead>
    <tbody>
        {% set residencyfields =  [
                                'Percent born in state',
                                'Percent born in other state',
                                'Percent foreign born',
                                'English-only speakers'
                                ]


        %}



        {% for fieldname in residencyfields %}

            <tr>
                <td>{{fieldname}}</td>
                <td>{{state[fieldname]}}</td>
                <td>{{US[fieldname]}}</td>
                <td>TK</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


