
<div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Pick City
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item">
                        <ul>
                                <li>Portland</li>
                                <li>Washington, D.C.</li>
                                <li>Minneapolis</li>
                                <li>Seattle</li>
                                <li>Atlanta</li>
                                <li>Virginia Beach</li>
                                <li>Denver</li>
                                <li>Austin</li>
                                <li>Chicago</li>
                                <li>Las Vegas</li>
                                <li>Detroit</li>
                        </ul>
                    </a>
        </div>
    
    </div>
    
    