
<div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Pick County
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item">
                    <ul>
                            <li>Los Angeles County</li>
                            <li>Cook County</li>
                            <li>Harris County</li>
                            <li>Maricopa County</li>
                            <li>San Diego County</li>
                            <li>Kings County</li>
                            <li>Santa Clara</li>
                            <li>Philadelphia County</li>
                            <li>Fairfax County</li>
                            <li>Miami-Dade County</li>
                            <li>Queens County</li>
                    </ul>
                </a>
        </div>
    
    </div>
    
    