
<div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Pick County
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for c in county %}
                <a class="dropdown-item" href="/county/{{c.id}}">
                    {{c.name}}
                </a>
            {% endfor %}
        </div>
    
    </div>
    
    