<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'snippets/sitewide/head-meta.html' %}
    <title>Page Title</title>
</head>

{% include 'snippets/sitewide/header.html' %}

<div class="container">
<div class="tables">
<h3>Demographics</h3>

<div class="col-sm-4" id="metrics">
    <h6>Areas with the greatest change in population</h6>
    <table class="table .table table-responsive table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>Rank</th>
                <th>2016</th>
                <th>% Change</th>
                <th>County avg</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>TK</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
            <tr>
                <td>2</td>
                <td>TK</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
            <tr>
                <td>3</td>
                <td>TK</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
            <tr>
                <td>4</td>
                <td>TK</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
            <tr>
                <td>5</td>
                <td>TK</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
        </tbody>
    </table>
</div>
<img id="example" src="https://upload.wikimedia.org/wikipedia/commons/6/66/Gas_Price_Temperature_Map.png">



<div class="col-sm-4" id="metrics">
    <h6>Areas with the greatest change in median age</h6>
    <table class="table .table table-responsive table-bordered table-striped table-sm" id="metrics">
        <thead>
            <tr>
                <th>Rank</th>
                <th>2016</th>
                <th>% Change</th>
                <th>County avg</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>TK</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
            <tr>
                <td>2</td>
                <td>TK</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
            <tr>
                <td>3</td>
                <td>TK</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
            <tr>
                <td>4</td>
                <td>TK</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
            <tr>
                <td>5</td>
                <td>TK</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
        </tbody>
    </table>
</div>
<img id="example" src="https://upload.wikimedia.org/wikipedia/commons/6/66/Gas_Price_Temperature_Map.png">


<div class="col-sm-4" id="metrics">
    <h6>Areas with the greatest change in median household income</h6>
    <table class="table .table table-responsive table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>Rank</th>
                <th>2016</th>
                <th>% Change</th>
                <th>County avg</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>TK</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
            <tr>
                <td>2</td>
                <td>TK</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
            <tr>
                <td>3</td>
                <td>TK</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
            <tr>
                <td>4</td>
                <td>TK</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
            <tr>
                <td>5</td>
                <td>TK</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
        </tbody>
    </table>
</div>
<img id="example" src="https://upload.wikimedia.org/wikipedia/commons/6/66/Gas_Price_Temperature_Map.png">


<div class="col-sm-4" id="metrics">
    <h6>Areas with the greatest change in population of white people</h6>
    <table class="table .table table-responsive table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>Rank</th>
                <th>2016</th>
                <th>% Change</th>
                <th>County avg</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>TK</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
            <tr>
                <td>2</td>
                <td>TK</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
            <tr>
                <td>3</td>
                <td>TK</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
            <tr>
                <td>4</td>
                <td>TK</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
            <tr>
                <td>5</td>
                <td>TK</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
        </tbody>
    </table>
</div>
<img id="example" src="https://upload.wikimedia.org/wikipedia/commons/6/66/Gas_Price_Temperature_Map.png">


<div class="col-sm-4" id="metrics">
    <h6>Areas with the greatest change in change in non-white population</h6>
    <table class="table .table table-responsive table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>Rank</th>
                <th>2016</th>
                <th>% Change</th>
                <th>County avg</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>TK</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
            <tr>
                <td>2</td>
                <td>TK</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
            <tr>
                <td>3</td>
                <td>TK</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
            <tr>
                <td>4</td>
                <td>TK</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
            <tr>
                <td>5</td>
                <td>TK</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
        </tbody>
    </table>
</div>
<img id="example" src="https://upload.wikimedia.org/wikipedia/commons/6/66/Gas_Price_Temperature_Map.png">

</div>


</div>
{% include 'snippets/sitewide/footer.html' %}


