<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'snippets/sitewide/head-meta.html' %}
    <title>Page Title</title>
</head>

{% include 'snippets/sitewide/header.html' %}

<div class="container">
<div class="tables">
<h3>Demographics</h3>

<div class="col-sm-4" id="metrics">
    <h6>Counties with the greatest change in population</h6>
    <table class="table .table table-responsive table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>Rank</th>
                <th>2016</th>
                <th>% Change</th>
            </tr>
        </thead>
        <tbody>

            {% for c in (counties | sort(attribute='delta.total_population', reverse=true))[0:10]  %}
            <tr>
                <td><a href="/county/{{ c['id'] }}">{{ c['name'] }}</a></td>
                <td>{{ c['2016']['total_population'] }}</td>
                <td>{{ c['delta']['total_population'] }}</td>
            </tr>

            {% endfor %}
            
        </tbody>
        <caption>For counties with at least 50,000 people</caption>
    </table>

</div>



<div class="col-sm-4" id="metrics">
    <h6>Counties with the greatest change in median age</h6>
    <table class="table .table table-responsive table-bordered table-striped table-sm" id="metrics">
        <thead>
            <tr>
                <th>Rank</th>
                <th>2016</th>
                <th>% Change</th>
            </tr>
        </thead>
        <tbody>
            {% for c in (counties | sort(attribute='delta.median_age', reverse=true))[0:10]  %}
            <tr>
                <td><a href="/county/{{ c['id'] }}">{{ c['name'] }}</a></td>
                <td>{{ c['2016']['median_age'] }}</td>
                <td>{{ c['delta']['median_age'] }}</td>
            </tr>

            {% endfor %}
        </tbody>
        <caption>For counties with at least 50,000 people</caption>
    </table>

</div>


<div class="col-sm-4" id="metrics">
    <h6>Counties with the greatest change in median household income</h6>
    <table class="table .table table-responsive table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>Rank</th>
                <th>2016</th>
                <th>% Change</th>
            </tr>
        </thead>
        <tbody>
            {% for c in (counties | sort(attribute='delta.median_household_income', reverse=true))[0:10]  %}
            <tr>
                <td><a href="/county/{{ c['id'] }}">{{ c['name'] }}</a></td>
                <td>{{ c['2016']['median_household_income'] }}</td>
                <td>{{ c['delta']['median_household_income'] }}</td>
            </tr>

            {% endfor %}
        </tbody>
    <caption>For counties with at least 50,000 people</caption>

    </table>

</div>


<div class="col-sm-4" id="metrics">
    <h6>Counties with the greatest change in population of white people</h6>
    <table class="table .table table-responsive table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>Rank</th>
                <th>2016</th>
                <th>% Change</th>
            </tr>
        </thead>
        <tbody>
            {% for c in (counties | sort(attribute='delta.white_pct', reverse=true))[0:10]  %}
            <tr>
                <td><a href="/county/{{ c['id'] }}">{{ c['name'] }}</a></td>
                <td>{{ c['2016']['white_pct'] }}</td>
                <td>{{ c['delta']['white_pct'] }}</td>
            </tr>

            {% endfor %}
        </tbody>
        <caption>For counties with at least 50,000 people</caption>

    </table>

</div>


<div class="col-sm-4" id="metrics">
    <h6>Counties with the greatest change in change in non-white population</h6>
    <table class="table .table table-responsive table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>Rank</th>
                <th>2016</th>
                <th>% Change</th>
            </tr>
        </thead>
        <tbody>
            {% for c in (counties | sort(attribute='delta.nonwhite_pct', reverse=true))[0:10]  %}
            <tr>
                <td><a href="/county/{{ c['id'] }}">{{ c['name'] }}</a></td>
                <td>{{ c['2016']['nonwhite_pct'] }}</td>
                <td>{{ c['delta']['nonwhite_pct'] }}</td>
            </tr>

            {% endfor %}
        </tbody>
        <caption>For counties with at least 50,000 people</caption>

    </table>

</div>

</div>


</div>
{% include 'snippets/sitewide/footer.html' %}


