<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'snippets/sitewide/head-meta.html' %}
    <title>Gentrification</title>
</head>

{% include 'snippets/sitewide/header.html' %}

<div class="container metricpages">

    <section class="lede">
        <h1>Gentrification Index</h1>

        <div class="description">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi dolore, quod laborum. Fuga eum nobis in, minima beatae ex explicabo, repudiandae aliquid distinctio, animi perspiciatis architecto ipsam dolores ipsum. Molestias!</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur sed eligendi id eius libero dolores voluptates, dignissimos odit. Numquam doloribus repudiandae vitae dolore inventore porro earum voluptatibus. Libero, natus, id.</p>
        </div>

        <div></div>


    </section>

    <img id="example" src="https://www.excel-easy.com/data-analysis/images/charts/switched-column-chart.png">

</div>


{% include 'snippets/sitewide/footer.html' %}


