<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'snippets/sitewide/head-meta.html' %}
    <title>Page Title</title>
</head>

{% include 'snippets/sitewide/header.html' %}

<div class="container">
<div class="tables">
<h3>Housing</h3>

<div class="col-sm-4" id="metrics">
    <h6>Counties with the greatest change in median home value</h6>
    <table class="table .table table-responsive table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>Rank</th>
                <th>2016</th>
                <th>% Change</th>
            </tr>
        </thead>
        <tbody>
            {% for c in (counties | sort(attribute='delta.median_home_value', reverse=true))[0:10]  %}
            <tr>
                <td><a href="/county/{{ c['id'] }}">{{ c['name'] }}</a></td>
                <td>{{ c['2016']['median_home_value'] }}</td>
                <td>{{ c['delta']['median_home_value'] }}</td>
            </tr>

            {% endfor %}
        </tbody>
        <caption>For counties with at least 50,000 people</caption>

    </table>
</div>


<div class="col-sm-4" id="metrics">
    <h6>Counties with the greatest change in number of homes worth $1 million+</h6>
    <table class="table .table table-responsive table-bordered table-striped table-sm" id="metrics">
        <thead>
            <tr>
                <th>Rank</th>
                <th>2016</th>
                <th>% Change</th>
            </tr>
        </thead>
        <tbody>
           
        </tbody>
        <caption>For counties with at least 50,000 people</caption>

    </table>
</div>


<div class="col-sm-4" id="metrics">
    <h6>Counties with the greatest change in number of homeowners</h6>
    <table class="table .table table-responsive table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>Rank</th>
                <th>2016</th>
                <th>% Change</th>
            </tr>
        </thead>
        <caption>For counties with at least 50,000 people</caption>

    </table>
</div>


<div class="col-sm-4" id="metrics">
    <h6>Counties with the greatest change in number of renters</h6>
    <table class="table .table table-responsive table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>Rank</th>
                <th>2016</th>
                <th>% Change</th>
            </tr>
        </thead>
        <tbody>
            {% for c in (counties | sort(attribute='delta.renter_occupied_pct', reverse=true))[0:10]  %}
            <tr>
                <td><a href="/county/{{ c['id'] }}">{{ c['name'] }}</a></td>
                <td>{{ c['2016']['renter_occupied_pct'] }}</td>
                <td>{{ c['delta']['renter_occupied_pct'] }}</td>
            </tr>

            {% endfor %}
        </tbody>
        <caption>For counties with at least 50,000 people</caption>

    </table>
</div>

</div>


</div>
{% include 'snippets/sitewide/footer.html' %}


