<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'snippets/sitewide/head-meta.html' %}
    <title>Page Title</title>
</head>

{% include 'snippets/sitewide/header.html' %}

<div class="container">
<div class="tables">
<h3>Income and education</h3>

<div class="col-sm-4" id="metrics">
    <h6>Counties with the greatest change in income per capita</h6>
    <table class="table .table table-responsive table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>Rank</th>
                <th>2016</th>
                <th>% Change</th>
            </tr>
        </thead>
        <tbody>
            {% for c in (counties | sort(attribute='delta.income_per_capita', reverse=true))[0:10]  %}
            <tr>
                <td><a href="/county/{{ c['id'] }}">{{ c['name'] }}</a></td>
                <td>{{ c['2016']['income_per_capita'] }}</td>
                <td>{{ c['delta']['income_per_capita'] }}</td>
            </tr>

            {% endfor %}
        </tbody>
        <caption>For counties with at least 50,000 people</caption>

    </table>
</div>


<div class="col-sm-4" id="metrics">
    <h6>Counties with the greatest change in number of households with 200k+ income</h6>
    <table class="table .table table-responsive table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>Rank</th>
                <th>2016</th>
                <th>% Change</th>
            </tr>
        </thead>
        <tbody>
            {% for c in (counties | sort(attribute='delta.income_over_200k', reverse=true))[0:10]  %}
            <tr>
                <td><a href="/county/{{ c['id'] }}">{{ c['name'] }}</a></td>
                <td>{{ c['2016']['income_over_200k'] }}</td>
                <td>{{ c['delta']['income_over_200k'] }}</td>
            </tr>

            {% endfor %}
        </tbody>
        <caption>For counties with at least 50,000 people</caption>

    </table>
</div>


<div class="col-sm-4" id="metrics">
    <h6>Counties with the greatest change in number of people with bachelor's degree or higher</h6>
    <table class="table .table table-responsive table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>Rank</th>
                <th>2016</th>
                <th>% Change</th>
            </tr>
        </thead>
        <tbody>
            {% for c in (counties | sort(attribute='delta.have_bachelors', reverse=true))[0:10]  %}
            <tr>
                <td><a href="/county/{{ c['id'] }}">{{ c['name'] }}</a></td>
                <td>{{ c['2016']['have_bachelors'] }}</td>
                <td>{{ c['delta']['have_bachelors'] }}</td>
            </tr>

            {% endfor %}
        </tbody>
        <caption>For counties with at least 50,000 people</caption>

    </table>
</div>


<div class="col-sm-4" id="metrics">
    <h6>Counties with the greatest change in number of people below poverty level</h6>
    <table class="table .table table-responsive table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>Rank</th>
                <th>2016</th>
                <th>% Change</th>
            </tr>
        </thead>
        <tbody>
            {% for c in (counties | sort(attribute='delta.poverty_population', reverse=true))[0:10]  %}
            <tr>
                <td><a href="/county/{{ c['id'] }}">{{ c['name'] }}</a></td>
                <td>{{ c['2016']['poverty_population'] }}</td>
                <td>{{ c['delta']['poverty_population'] }}</td>
            </tr>

            {% endfor %}
        </tbody>
        <caption>For counties with at least 50,000 people</caption>

    </table>
</div>

</div>


</div>
{% include 'snippets/sitewide/footer.html' %}






