<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'snippets/sitewide/head-meta.html' %}
    <title>Page Title</title>
</head>

{% include 'snippets/sitewide/header.html' %}

<div class="container">
<h3>Income and education</h3>

<div class="col-sm-4" id="metrics">
    <h5>Areas with the greatest change in income per capita</h5>
    <table class="table .table table-responsive table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>Rank</th>
                <th>2016</th>
                <th>% Change</th>
                <th>County avg</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>TK</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
            <tr>
                <td>2</td>
                <td>TK</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
            <tr>
                <td>3</td>
                <td>TK</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
            <tr>
                <td>4</td>
                <td>TK</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
            <tr>
                <td>5</td>
                <td>TK</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
        </tbody>
    </table>
</div>
<img id="example" src="https://upload.wikimedia.org/wikipedia/commons/6/66/Gas_Price_Temperature_Map.png">

<div class="col-sm-4" id="metrics">
    <h5>Areas with the greatest change in number of households with 200k+ income</h5>
    <table class="table .table table-responsive table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>Rank</th>
                <th>2016</th>
                <th>% Change</th>
                <th>County avg</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>TK</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
            <tr>
                <td>2</td>
                <td>TK</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
            <tr>
                <td>3</td>
                <td>TK</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
            <tr>
                <td>4</td>
                <td>TK</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
            <tr>
                <td>5</td>
                <td>TK</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
        </tbody>
    </table>
</div>
<img id="example" src="https://upload.wikimedia.org/wikipedia/commons/6/66/Gas_Price_Temperature_Map.png">

<div class="col-sm-4" id="metrics">
    <h5>Areas with the greatest change in number of people with bachelor's degree or higher</h5>
    <table class="table .table table-responsive table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>Rank</th>
                <th>2016</th>
                <th>% Change</th>
                <th>County avg</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>TK</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
            <tr>
                <td>2</td>
                <td>TK</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
            <tr>
                <td>3</td>
                <td>TK</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
            <tr>
                <td>4</td>
                <td>TK</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
            <tr>
                <td>5</td>
                <td>TK</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
        </tbody>
    </table>
</div>
<img id="example" src="https://upload.wikimedia.org/wikipedia/commons/6/66/Gas_Price_Temperature_Map.png">

<div class="col-sm-4" id="metrics">
    <h5>Areas with the greatest change in number of people people below poverty level</h5>
    <table class="table .table table-responsive table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>Rank</th>
                <th>2016</th>
                <th>% Change</th>
                <th>County avg</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>TK</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
            <tr>
                <td>2</td>
                <td>TK</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
            <tr>
                <td>3</td>
                <td>TK</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
            <tr>
                <td>4</td>
                <td>TK</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
            <tr>
                <td>5</td>
                <td>TK</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
        </tbody>
    </table>
</div>
<img id="example" src="https://upload.wikimedia.org/wikipedia/commons/6/66/Gas_Price_Temperature_Map.png">


</div>
{% include 'snippets/sitewide/footer.html' %}


