<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'snippets/sitewide/head-meta.html' %}
    <title>Page Title</title>
</head>

{% include 'snippets/sitewide/header.html' %}

<div class="container">
        <h2>Metric Pages</h2>

        <h3>
            <a href="/demography">Demographics</a>
        </h3>
        <p>In a <a href="http://www.governing.com/gov-data/gentrification-in-cities-governing-report.html">2015 report</a> on gentrification in America, Governing magazine found that gentrifying areas had an increase in non-Hispanic white communities and declines in poverty rates. This section provides demographic information about areas with the greatest rates of change.</p>
        
        <h3>
            <a href="/housing">Housing</a>
        </h3>
        <p>Housing is also a factor in gentrifying areas of the United States. As areas become more heavily gentrified, the median home value tends to rise and the population of renters tend to decline, as found in a <a href="https://gobigread.wisc.edu/2017/02/gentrification-consequences-impacts-eviction/">2017 study</a> by the University of Wisconsin, Madison. This section provides housing data about areas with the greatest rates of change.</p>
        
        <h3>
            <a href="/income">Income and education</a>
        </h3>
        <p>When neighborhoods gentrify, income levels tend to increase, as explained <a href="https://www.citylab.com/equity/2015/09/the-complicated-link-between-gentrification-and-displacement/404161/">"The complicated link between gentrification and displacement."</a> This section provides income and education information about areas with the greatest rates of change.</p>
        
        <h3>
            <a href="/residency">Residency</a>
        </h3>
        <p>Another way to understand gentrifying neighborhoods is by looking at the population of people born locally, i.e. in-state, versus those born in other states or countries. As neighborhoods gentrify, particularly in urban areas, the share of people not from the area increases as well. This page explores the areas with the greatest changes in the amount of people born in the state, in another state or in a foreign country.</p>
</div>

{% include 'snippets/sitewide/footer.html' %}


