<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'snippets/sitewide/head-meta.html' %}
    <title>Page Title</title>
</head>

{% include 'snippets/sitewide/header.html' %}

<div class="container">
<div class="tables">
<h3>Residency</h3>

<div class="col-sm-4" id="metrics">
    <h6>Counties with the greatest change in people born in state</h6>
    <table class="table .table table-responsive table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>Rank</th>
                <th>2016</th>
                <th>% Change</th>
            </tr>
        </thead>
        <caption>For counties with at least 50,000 people</caption>

    </table>
</div>


<div class="col-sm-4" id="metrics">
    <h6>Counties with the greatest change in number of people born out of state</h6>
    <table class="table .table table-responsive table-bordered table-striped table-sm" id="metrics">
        <thead>
            <tr>
                <th>Rank</th>
                <th>2016</th>
                <th>% Change</th>
            </tr>
        </thead>
        <tbody>
            {% for c in (counties | sort(attribute='delta.born_other_state', reverse=true))[0:10]  %}
            <tr>
                <td><a href="/county/{{ c['id'] }}">{{ c['name'] }}</a></td>
                <td>{{ c['2016']['born_other_state'] }}</td>
                <td>{{ c['delta']['born_other_state'] }}</td>
            </tr>

            {% endfor %}
        </tbody>
        <caption>For counties with at least 50,000 people</caption>

    </table>
</div>


<div class="col-sm-4" id="metrics">
    <h6>Counties with the greatest change in number of foreign born</h6>
    <table class="table .table table-responsive table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>Rank</th>
                <th>2016</th>
                <th>% Change</th>
            </tr>
        </thead>
        <caption>For counties with at least 50,000 people</caption>

    </table>
</div>


<div class="col-sm-4" id="metrics">
    <h6>Counties with the greatest change in number of English-only speakers</h6>
    <table class="table .table table-responsive table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>Rank</th>
                <th>2016</th>
                <th>% Change</th>
            </tr>
        </thead>
        <tbody>
            {% for c in (counties | sort(attribute='delta.english_only', reverse=true))[0:10]  %}
            <tr>
                <td><a href="/county/{{ c['id'] }}">{{ c['name'] }}</a></td>
                <td>{{ c['2016']['english_only'] }}</td>
                <td>{{ c['delta']['english_only'] }}</td>
            </tr>

            {% endfor %}
        </tbody>
        <caption>For counties with at least 50,000 people</caption>

    </table>
</div>

</div>


</div>
{% include 'snippets/sitewide/footer.html' %}



