<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'snippets/sitewide/head-meta.html' %}
    <title>Page Title</title>
</head>

{% include 'snippets/sitewide/header.html' %}

<div class="container">
<div class="tables">
<h3>Residency</h3>

<div class="col-sm-4" id="metrics">
    <h6>Counties with the greatest change in people born in state</h6>
    <table class="table .table table-responsive table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>Rank</th>
                <th>2016</th>
                <th>% Change</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
            <tr>
                <td>2</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
            <tr>
                <td>3</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
            <tr>
                <td>4</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
            <tr>
                <td>5</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
        </tbody>
    </table>
</div>


<div class="col-sm-4" id="metrics">
    <h6>Counties with the greatest change in number of people born out of state</h6>
    <table class="table .table table-responsive table-bordered table-striped table-sm" id="metrics">
        <thead>
            <tr>
                <th>Rank</th>
                <th>2016</th>
                <th>% Change</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
            <tr>
                <td>2</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
            <tr>
                <td>3</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
            <tr>
                <td>4</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
            <tr>
                <td>5</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
        </tbody>
    </table>
</div>


<div class="col-sm-4" id="metrics">
    <h6>Counties with the greatest change in number of foreign born</h6>
    <table class="table .table table-responsive table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>Rank</th>
                <th>2016</th>
                <th>% Change</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
            <tr>
                <td>2</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
            <tr>
                <td>3</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
            <tr>
                <td>4</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
            <tr>
                <td>5</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
        </tbody>
    </table>
</div>


<div class="col-sm-4" id="metrics">
    <h6>Counties with the greatest change in number of English-only speakers</h6>
    <table class="table .table table-responsive table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>Rank</th>
                <th>2016</th>
                <th>% Change</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
            <tr>
                <td>2</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
            <tr>
                <td>3</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
            <tr>
                <td>4</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
            <tr>
                <td>5</td>
                <td>TK</td>
                <td>TK</td>
            </tr>
        </tbody>
    </table>
</div>

</div>


</div>
{% include 'snippets/sitewide/footer.html' %}



