<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'snippets/sitewide/head-meta.html' %}
    <title>404 - Page Not Found!</title>
</head>

<body class="infopage">

{% include 'snippets/sitewide/header.html' %}
<div class="container">

    <h1 class="page-title">404 - Page Not Found</h1>
    <div class="lede-image">
        <a href="https://httpstatusdogs.com/404-not-found">
            <img src="https://httpstatusdogs.com/img/404.jpg" alt="HTTP Status Dog 404">
            <div class="caption">Image courtesy of HTTP Status Dogs</div>
        </a>
    </div>



    <p>Looks like we can't find what you're looking for! Go back to the
        <a href="/">homepage</a></p>


</div>
{% include 'snippets/sitewide/footer.html' %}

