<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>altair</title>
  <script src="https://cdn.jsdelivr.net/npm/vega@3.3.1"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@2.3.1"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@3.5.0"></script>

</head>
<body>

    <h1>My chart</h1>

    <div id="viz-view">


    </div>


    <script>







        var mydata = {
          "$schema": "https://vega.github.io/schema/vega-lite/v2.4.1.json",
          "config": {
            "view": {
              "height": 300,
              "width": 400
            }
          },
          "data": {
            "url": "https://vega.github.io/vega-datasets/data/population.json"
          },
          "encoding": {
            "color": {
              "field": "gender",
              "scale": {
                "range": [
                  "#EA98D2",
                  "#659CCA"
                ]
              },
              "type": "nominal"
            },
            "x": {
              "field": "age",
              "scale": {
                "rangeStep": 17
              },
              "type": "ordinal"
            },
            "y": {
              "aggregate": "sum",
              "axis": {
                "title": "population"
              },
              "field": "people",
              "stack": null,
              "type": "quantitative"
            }
          },
          "mark": {
            "opacity": 0.7,
            "type": "bar"
          },
          "transform": [
            {
              "filter": "(datum.year === 2000)"
            },
            {
              "as": "gender",
              "calculate": "if((datum.sex === 2),'Female','Male')"
            }
          ]
        }

  vegaEmbed('#viz-view', mydata);


    </script>



</body>
</html>
