
    <header>
        <div class="container" align="right">
            <h1 id="site-header">

            
                <a href="/">
                    <font color="white" size="4">
                    Home
                     </font>
                    </a>
                <a href="/sample">
                    <font color="white" size="4">
                            Sample
                    </font>
                    </a>
                <a href="/methodology">
                    <font color="white" size="4">
                        Methodology
                    </font>
                </a>

            </h1>
        </div>
    </header>
