
<table class="table table-sm table-data">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                {{state['name']}}
            </th>
            <th>
                {{US['name']}}
            </th>
        </tr>
    </thead>
    <tbody>
        {% set hracefields = ['Total population_00',
                                'White people (percent)_00',
                                'Median age_00',
                                ]


        %}

        {% for fieldname in hracefields %}

            <tr>
                <td>{{fieldname}}</td>
                <td>{{state[fieldname]}}</td>
                <td>{{US[fieldname]}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>