
<table class="table table-sm table-data">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                {{state['name']}}
            </th>
            <th>
                {{US['name']}}
            </th>
        </tr>
    </thead>
    <tbody>
        {% set racefields = ['Population',
                                'White',
                                'White %',
                                'Median Age',]


        %}

        {% for fieldname in racefields %}

            <tr>
                <td>{{fieldname}}</td>
                <td>{{state[fieldname]}}</td>
                <td>{{US[fieldname]}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>