
<table class="table table-sm table-data">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                {{state['name']}}
            </th>
            <th>
                {{US['name']}}
            </th>
        </tr>
    </thead>
    <tbody>
        {% set hincomefields =  [
                                'Percent for poverty determined_00',
                                'Amount below poverty level_00',
                                'Household income $200K+_00',
                                'Median household income_00',
                                'Amount with bachelors degrees_00'
                                ]


        %}



        {% for fieldname in hincomefields %}

            <tr>
                <td>{{fieldname}}</td>
                <td>{{state[fieldname]}}</td>
                <td>{{US[fieldname]}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


