<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'snippets/sitewide/head-meta.html' %}

    <title>County: {{county['name']}}</title>
</head>


<body class="county-page">

    {% include 'snippets/sitewide/header.html' %}

    <div class="container">




            <section id="main">

                <h1 class="page-title">Data for {{county['name']}}</h1>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Alabama_in_United_States.svg/2000px-Alabama_in_United_States.svg.png" alt="Alabama" align="center" height="250" width="400">


                <section id="race">
                    <h3>Demographic data (2016)</h3>

                    {% include 'snippets/data-tables/demography-table.html' %}

                </section>


                <section id="housing">
                    <h3>Housing data (2016)</h3>



                    {% include 'snippets/data-tables/housing-table.html' %}
                </section>


                <section id="income">
                    <h3>Income and education data (2016)</h3>

                    {% include 'snippets/data-tables/income-table.html' %}

                </section>


                <section id="residency">
                    <h3>Residency data (2016)</h3>

                    {% include 'snippets/data-tables/residency-table.html' %}

                </section>
            </section>



            <section id="counties">

                <h2>Counties</h2>
                <table class="table table-sm table-bordered">
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            White population
                        </th>
                        <th>
                            Median age
                        </th>
                        <th>
                            Income per capita
                        </th>
                        <th>
                            Number with bachelor's
                        </th>
                    </tr>
                    <tr>
                        {% for c in counties %}
                        <td>
                            <a href="/counties/{{c.GEO_ID}}">
                                {{ c.NAME }}
                            </a>
                        </td>
                        <td>
                            Test
                        </td>
                        <td>
                            Test
                        </td>
                        <td>
                            Test
                        </td>
                        <td>
                            Test
                        </td>
                    </tr>

                    {% endfor %}


                </table>

            </section>

    </div>




{% include 'snippets/sitewide/footer.html' %}



