<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'snippets/sitewide/head-meta.html' %}
    {% include 'snippets/sitewide/head-map-meta.html' %}

    <title>{{entity.geo}} {{entity.name}}</title>
</head>

<body class="entity {{entity.geo}}">

{% include 'snippets/sitewide/header.html' %}


<div class="container">

    <section class="title">
        <h1 class="page-title">{{ entity.full_name }}</h1>
    </section>

    <section class="lede">

        <div class="row">
            <div class="col-sm-6">

                <strong>Gentrification information</strong> See how {{ entity.full_name }} compares to the United States.


                <div class="row">
                    <div class="col-sm-6">
                        <a href="/gentrification">Gentrification Index Score</a>
                    </div>
                    <div class="col-sm-6">
                        {{ entity.gentrification.index}}
                    </div>
                    <div class="col-sm-8">The average score for all U.S. states is 2.7. Scores above 3.5 are considered moderately gentrified.</div>
                </div>

                <div class="toc">
                <p>
                    Explore information about
                    <strong>{{entity.name}}</strong>
                     by category:
                </p>


                    <ul class="list">
                        <li>
                            <a href="#demography">Demographics</a>
                        </li>
                        <li>
                            <a href="#housing">Housing</a>
                        </li>
                        <li>
                            <a href="#income">Income and education</a>
                        </li>
                        <li>
                            <a href="#residency">Residency</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div>
                <iframe width="550" height="500" frameborder="0" src="https://stanford.carto.com/u/milleran/builder/5b26f2d8-74df-4fa3-8286-2c64312ab19c/embed" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen="" oallowfullscreen="" msallowfullscreen=""></iframe>
            </div>
            <!-- <div class="col-sm-6">
                    { include 'snippets/mapstuff/map.html' }
            </div> -->
        </div>


    </section>

    <section id="data-tables">

                {% include 'snippets/data-tables/demographics-table.html' %}

                {% include 'snippets/data-tables/income-table.html' %}

                {% include 'snippets/data-tables/housing-table.html' %}

    </section>


    <section>
        <table class="table table-sm table-bordered table-striped">
            <thead>
                <tr>
                    <th class="title"></th>
                    <th class="value">2016 Population</th>
                    <th class="value">Gentrification Index</th>
                </tr>
            </thead>
        <tbody>        {% for e in all_entities %}

            <tr>
                <td class="title">
                    <a href="/{{e.geo}}/{{e.id}}">{{e.name}}</a>
                </td>
                <td class="num">
                    {{e['2016'].total_population}}
                </td>
                <td class="num">
                    {{e['gentrification'].index}}

                </td>
            </tr>

        {% endfor %}
    </tbody>
    </table>
    </section>



    </section>

</div>
{% include 'snippets/sitewide/footer.html' %}

