<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'snippets/sitewide/head-meta.html' %}
    {% include 'snippets/sitewide/head-map-meta.html' %}

    <title>Page Title</title>
</head>

<body class="">

{% include 'snippets/sitewide/header.html' %}


<div class="container">

    <h1 class="page-title">Search results for {{address_query | tojson }}</h1>
    <ul>
        <li>
            1) receive pop-up window when hovering over table cells to receive the delta between current and historical census data (ex: "This is xxx higher than in 2000). 
        </li>

        <li>
            2) Make values numbers - add in commas 
        </li>
    </ul>

    {% include 'snippets/mapstuff/map.html' %}

    <section id="debug">
        
        <div id="geotables">
        </div>

        <h2>Coordinates</h2>

        <div id="geotables" style="overflow-x:auto;">
                <table class="proto">
                    <tr>
                        <th>Name</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                    </tr>
    
                    <tr>
                        <td>{{ coords.name | tojson }} </td>
                        <td>{{ coords.latitude | tojson }}</td>
                        <td>{{ coords.longitude | tojson }}</td>
                    </tr>
                
                </table>
        </div>
        
        <h2>Census codes</h2>    

        <div id="geotables" style="overflow-x:auto;">
            <table class="proto">
                    <tr>
                        <th>County</th>
                        <th>Name</th>
                        <th>State</th>
                        <th>Tract</th>
                    </tr>
    
                    <tr>
                        <td>{{censuscodes.county | tojson }} </td>
                        <td>{{censuscodes.name | tojson }} </td>
                        <td>{{censuscodes.state | tojson }} </td>
                        <td>{{censuscodes.tract | tojson }} </td>
                    </tr>
                </table>
            </div>

        <h3>Demographics</h3>
            <div id="geotables" style="overflow-x:auto;">
                <table class="proto">
                    <th>Geography</th>
                    <th>Name</th>
                    <th>Population</th>
                    <th>Median Age</th>
                    <th>Median household income</th>
                    <th>Total White</th>
                    <th>Total non-white</th>
                    
                        <tr>
                            <td>Tract</td>
                            <td>{{censuscodes.tract | tojson }}</td>
                            <td>TK</td>
                            <td>Median Age</td>
                            <td>Median household income</td>
                            <td>Total White</td>
                            <td>Total non-white</td>
                        </tr>
                        <tr>
                            <td>County</td>
                            <td>Cook</td>
                            <td>5,227,575</td>
                            <td>Median Age</td>
                            <td>Median household income</td>
                            <td>Total White</td>
                            <td>Total non-white</td>
                        </tr>
                        <tr>
                            <td>State</td>
                            <td>Illinois</td>
                            <td>12,851,684</td>
                            <td>Median Age</td>
                            <td>Median household income</td>
                            <td>Total White</td>
                            <td>Total non-white</td>
                        </tr>
                        <tr>
                            <td>Country</td>
                            <td>United States</td>
                            <td>318,558,162</td>
                            <td>Median Age</td>
                            <td>Median household income</td>
                            <td>Total White</td>
                            <td>Total non-white</td>
                        </tr>
                    </div>
                </table>
            <img src="https://cdn-images-1.medium.com/max/637/1*Eq40iwcboRFBMF37oAaM7Q.png" id="ex">
            </div>

            <h3>Housing</h3>
            <div id="geotables" style="overflow-x:auto;">
                <table class="proto">
                        <th>Geography</th>
                        <th>Name</th>
                        <th>Median home value</th>
                        <th>Homes worth $1 million+</th>
                        <th>Owner-occupied</th>
                        <th>Renter-occupied</th>
                        <tr>
                            <td>Tract</td>
                            <td>Name</td>
                            <td>Median home value</td>
                            <td>Homes worth $1 million+</td>
                            <td>Owner-occupied</td>
                            <td>Renter-occupied</td>
                        </tr>
                        <tr>
                            <td>County</td>
                            <td>Name</td>
                            <td>Median home value</td>
                            <td>Homes worth $1 million+</td>
                            <td>Owner-occupied</td>
                            <td>Renter-occupied</td>
                        </tr>
                        <tr>
                            <td>State</td>
                            <td>Name</td>
                            <td>Median home value</td>
                            <td>Homes worth $1 million+</td>
                            <td>Owner-occupied</td>
                            <td>Renter-occupied</td>
                        </tr>
                        <tr>
                            <td>Country</td>
                            <td>Name</td>
                            <td>Median home value</td>
                            <td>Homes worth $1 million+</td>
                            <td>Owner-occupied</td>
                            <td>Renter-occupied</td>
                        </tr>
                </table>
            <img src="https://cdn-images-1.medium.com/max/637/1*Eq40iwcboRFBMF37oAaM7Q.png" id="ex">
            </div>

            <h3>Income and education</h3>
            <div id="geotables" style="overflow-x:auto;">
                <table class="proto">
                        <th>Geography</th>
                        <th>Name</th>
                        <th>Household income $200k+</th>
                        <th>Income per capita</th>
                        <th>Have a bachelor's degree</th>
                        <th>Population below poverty level</th>
                        <tr>
                            <td>Tract</td>
                            <td>Name</td>
                            <td>Household income $200k+</td>
                            <td>Income per capita</td>
                            <td>Have a bachelor's degree</td>
                            <td>Population below poverty level</td>
                        </tr>
                        <tr>
                            <td>County</td>
                            <td>Name</td>
                            <td>Household income $200k+</td>
                            <td>Income per capita</td>
                            <td>Have a bachelor's degree</td>
                            <td>Population below poverty level</td>
                        </tr>
                        <tr>
                            <td>State</td>
                            <td>Name</td>
                            <td>Household income $200k+</td>
                            <td>Income per capita</td>
                            <td>Have a bachelor's degree</td>
                            <td>Population below poverty level</td>
                        </tr>
                        <tr>
                            <td>Country</td>
                            <td>Name</td>
                            <td>Household income $200k+</td>
                            <td>Income per capita</td>
                            <td>Have a bachelor's degree</td>
                            <td>Population below poverty level</td>
                        </tr>
                </table>
            <img src="https://cdn-images-1.medium.com/max/637/1*Eq40iwcboRFBMF37oAaM7Q.png" id="ex">
            </div>

            <h3>Residency</h3>
            <div id="geotables" style="overflow-x:auto;">
                <table class="proto">
                        <th>Geography</th>
                        <th>Name</th>
                        <th>Born in state</th>
                        <th>Born in other state</th>
                        <th>Foreign born</th>
                        <tr>
                            <td>Tract</td>
                            <td>Name</td>
                            <td>Born in state</td>
                            <td>Born in other state</td>
                            <td>Foreign born</td>
                        </tr>
                        <tr>
                            <td>County</td>
                            <td>Name</td>
                            <td>Born in state</td>
                            <td>Born in other state</td>
                            <td>Foreign born</td>
                        </tr>
                        <tr>
                            <td>State</td>
                            <td>Name</td>
                            <td>Born in state</td>
                            <td>Born in other state</td>
                            <td>Foreign born</td>
                        </tr>
                        <tr>
                            <td>Country</td>
                            <td>Name</td>
                            <td>Born in state</td>
                            <td>Born in other state</td>
                            <td>Foreign born</td>
                        </tr>
                </table>
            <img src="https://cdn-images-1.medium.com/max/637/1*Eq40iwcboRFBMF37oAaM7Q.png" id="ex">
            </div>
    </section>


</div>
{% include 'snippets/sitewide/footer.html' %}

