<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'snippets/sitewide/head-meta.html' %}
    {% include 'snippets/sitewide/head-map-meta.html' %}

    <title>Page Title</title>
</head>

<body class="">

{% include 'snippets/sitewide/header.html' %}
<div class="container">

    <h1 class="page-title">Search results for {{address_query | tojson }}</h1>

    {% include 'snippets/mapstuff/map.html' %}

    <h3>TK: Hover over table cell to receive pop-up explaining delta b/w 2000-2016; click cell to receive data viz below chart</h3>

    <section id="debug">
        
        <div id="geotables">
        </div>

        <h2>Coordinates</h2>

        <div id="geotables" style="overflow-x:auto;">
                <table class="proto">
                    <tr>
                        <th>Name</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                    </tr>
    
                    <tr>
                        <td>{{ coords.name | tojson }} </td>
                        <td>{{ coords.latitude | tojson }}</td>
                        <td>{{ coords.longitude | tojson }}</td>
                    </tr>
                
                </table>
        </div>
        
        <h2>Census codes</h2>    

        <div id="geotables" style="overflow-x:auto;">
            <table class="proto">
                    <tr>
                        <th>County</th>
                        <th>Name</th>
                        <th>State</th>
                        <th>Tract</th>
                    </tr>
    
                    <tr>
                        <td>{{censuscodes.county | tojson }} </td>
                        <td>{{censuscodes.name | tojson }} </td>
                        <td>{{censuscodes.state | tojson }} </td>
                        <td>{{censuscodes.tract | tojson }} </td>
                    </tr>
                </table>
            </div>

            <h3>Demographics</h3>
            <div id="geotables" style="overflow-x:auto;">
                <table class="proto">
                    <th>Geography</th>
                    <th>Name</th>
                    <th>Population</th>
                    <th>Median Age</th>
                    <th>Total White</th>
                    <th>Total non-white</th>
                    <th>Median home value</th>
                    <th>Median household income</th>
                        <tr>
                            <td>Tract</td>
                        </tr>
                        <tr>
                            <td>County</td>
                        </tr>
                        <tr>
                            <td>State</td>
                        </tr>
                        <tr>
                            <td>Country</td>
                        </tr>
                    </div>
                </table>
            <img src="https://cdn-images-1.medium.com/max/637/1*Eq40iwcboRFBMF37oAaM7Q.png">
            </div>

            <h3>Housing</h3>
            <div id="geotables" style="overflow-x:auto;">
                <table class="proto">
                        <th>Geography</th>
                        <th>Name</th>
                        <th>Total housing units</th>
                        <th>Homes worth $1 million+</th>
                        <th>Moved in before 1999</th>
                        <th>Moved in after 2000</th>
                        <th>Owner-occupied</th>
                        <th>Renter-occupied</th>
                        <tr>
                            <td>Tract</td>
                        </tr>
                        <tr>
                            <td>County</td>
                        </tr>
                        <tr>
                            <td>State</td>
                        </tr>
                        <tr>
                            <td>Country</td>
                        </tr>
                </table>
            <img src="https://cdn-images-1.medium.com/max/637/1*Eq40iwcboRFBMF37oAaM7Q.png">
            </div>

            <h3>Income and education</h3>
            <div id="geotables" style="overflow-x:auto;">
                <table class="proto">
                        <th>Geography</th>
                        <th>Name</th>
                        <th>Household income $200k+</th>
                        <th>Below Poverty Level</th>
                        <th>Have a bachelor's degree</th>
                        <th>Income per capita</th>
                        <th>Population below poverty level</th>
                        <tr>
                            <td>Tract</td>
                        </tr>
                        <tr>
                            <td>County</td>
                        </tr>
                        <tr>
                            <td>State</td>
                        </tr>
                        <tr>
                            <td>Country</td>
                        </tr>
                </table>
            <img src="https://cdn-images-1.medium.com/max/637/1*Eq40iwcboRFBMF37oAaM7Q.png">
            </div>

            <h3>Residency</h3>
            <div id="geotables" style="overflow-x:auto;">
                <table class="proto">
                        <th>Geography</th>
                        <th>Name</th>
                        <th>Born in state</th>
                        <th>Born in other state</th>
                        <th>Foreign born</th>
                        <tr>
                            <td>Tract</td>
                        </tr>
                        <tr>
                            <td>County</td>
                        </tr>
                        <tr>
                            <td>State</td>
                        </tr>
                        <tr>
                            <td>Country</td>
                        </tr>
                </table>
            <img src="https://cdn-images-1.medium.com/max/637/1*Eq40iwcboRFBMF37oAaM7Q.png">
            </div>
    </section>





</div>
{% include 'snippets/sitewide/footer.html' %}

