<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'snippets/sitewide/head-meta.html' %}
    {% include 'snippets/sitewide/head-map-meta.html' %}

    <title>Page Title</title>
</head>

<body class="">

{% include 'snippets/sitewide/header.html' %}
<div class="container">

    <h1 class="page-title">Geocode!</h1>

    {% include 'snippets/mapstuff/map.html' %}

    <section id="debug">
        <h1>debug stuff</h1>

        <h2>query</h2>
            <p>{{address_query | tojson }}</p>

        <h2>coordinates</h2>

        {{ coords | tojson }}

        <h2>censuscodes</h2>

        {{ censuscodes | tojson }}

        <h2>tract</h2>

        {{ tract | tojson}}

        <h2>county</h2>

        {{ county | tojson }}

        <h2>state</h2>

        {{ state | tojson }}

        <h1>us</h1>

        {{ us | tojson }}

    </section>





</div>
{% include 'snippets/sitewide/footer.html' %}

