<!DOCTYPE html>
<html lang="en">
<head>
    <title>
                Homepage

    </title>
    {% include 'snippets/sitewide/head-meta.html' %}

</head>
<body class="homepage">
    {% include 'snippets/sitewide/header.html' %}

        <div id="top" class="jumbotron">
            <div class="container">

                <h1 class="site-title display-3">Gentrification Near U</h1>


                <p class="lead">
                    This app allows you to compare historical Census data across multiple Census surveys for a chosen geography (State, city, address)
                </p>

                <div class="lede-image">
                    <img src="http://www.yourchildlearns.com/online-atlas/images/map-of-united-states-2.gif" alt="United States">
                </div>

            </div>
        </div>




    <div class="container">






            <section>
                <div>
                    <form action="/geocode">
                        <div class="form-row">
                            <div class="form-group col-sm-6">
                                <input type="text" placeholder="Enter an address" name="address" class="form-control form-control-lg">
                            </div>
                            <div class="form-group col-sm-4">
                                <input type="submit" value="Search!" class="btn btn-primary">
                            </div>
                        </div>
                    </form>
                </div>

            </section>



            <section>
                <h2>States</h2>

                {% include 'snippets/forms/state-selector.html' %}
            </section>






            </section>

    </div>


    {% include 'snippets/sitewide/footer.html' %}

