<!DOCTYPE html>
<html lang="en">
<head>
    <title>
                Homepage

    </title>
    {% include 'snippets/sitewide/head-meta.html' %}

</head>
<body class="homepage">
        {% include 'snippets/sitewide/header.html' %}

        <div id="banner" class="jumbotron">
            <div class="container">

                <h1 class="site-title display-3">Visualizing Gentrification</h1>

                <div class="row">
                    <div class="col-sm-6">
                        <p class="lead">
                            This app allows you to compare historical Census data for a chosen geography (state, city, address).
                        </p>

                        {% include 'snippets/forms/address-search.html' %}

                        <p><a href="/proto">Prototype page</a></p>

                    </div>
                    <div class="col-sm-6">
                        <div class="lede-image">
                            <img src="http://www.yourchildlearns.com/online-atlas/images/map-of-united-states-2.gif" alt="United States">
                        </div>
                    </div>
                </div>





            </div>
        </div>




    <div class="container">

        <section>
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Pick a state</h2>
                        {% include 'snippets/forms/state-selector.html' %}

                    </div>
                    <div class="col-sm-6">
                        <h3>...or a place</h3>
                        <ul>
                            <li><a href="/places/detroit">Detroit</a></li>
                            <li><a href="/places/palo-alto">Palo Alto</a></li>
                            <li><a href="/places/brooklyn">Brooklyn</a></li>
                        </ul>
                        <h3>...or a category</h3>
                        <ul>
                            <li><a href="/demography">Demographics</a></li>
                            <li><a href="/housing">Housing</a></li>
                            <li><a href="/income">Income</a></li>
                            <li><a href="/residency">Residency</a></li>
                        </ul>
                    </div>
                    
        </section>
        
        <section id="homepagetables">
                <table class="homepage">
                        <caption>Index: Most Gentrified Areas</caption>
                        <th>Rank</th>
                        <th>2016</th>
                        <th>2000</th>
                            <tr>
                                <td>1</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>100</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>101</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>102</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>103</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>104</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                    </table>
                   
                    <table class="homepage">
                        <caption>Areas with greatest and least # of non-white</caption>
                        <th>Rank</th>
                        <th>2016</th>
                        <th>2000</th>
                            <tr>
                                <td>1</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>100</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>101</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>102</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>103</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>104</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                                
                    </table>
                    
                    <table class="homepage">
                        <caption>Biggest/Least change in median home value</caption>
                        <th>Rank</th>
                        <th>2016</th>
                        <th>2000</th>
                            <tr>
                                <td>1</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>100</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>101</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>102</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>103</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>104</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                    </table>
            
                    <table class="homepage">
                        <caption>Biggest/least change in median income</caption>
                        <th>Rank</th>
                        <th>2016</th>
                        <th>2000</th>
                            <tr>
                                <td>1</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>100</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>101</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>102</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>103</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>104</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                    </table>
            
                    <table class="homepage">
                        <caption>Biggest/least change in # of renters</caption>
                        <th>Rank</th>
                        <th>2016</th>
                        <th>2000</th>
                            <tr>
                                <td>1</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>100</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>101</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>102</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>103</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>104</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                    </table>
            
                    <table class="homepage">
                        <caption>Biggest/least change in # with bachelor's or higher</caption>
                        <th>Rank</th>
                        <th>2016</th>
                        <th>2000</th>
                            <tr>
                                <td>1</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>100</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>101</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>102</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>103</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>104</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                    </table>
            
                    <table class="homepage">
                        <caption>Biggest/least change in # in  poverty</caption>
                        <th>Rank</th>
                        <th>2016</th>
                        <th>2000</th>
                            <tr>
                                <td>1</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>100</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>101</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>102</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>103</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>104</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                    </table>
        </section>


    </div>


    {% include 'snippets/sitewide/footer.html' %}

