<!DOCTYPE html>
<html lang="en">
<head>
    <title>
                Homepage

    </title>
    {% include 'snippets/sitewide/head-meta.html' %}

</head>

<body class="homepage">
        {% include 'snippets/sitewide/header.html' %}

        <div id="banner" class="jumbotron">
            <div class="container">

                <h1 class="site-title display-3">Visualizing Gentrification</h1>

                <div class="row">
                    <div class="col-sm-6">
                        <p class="lead">
                            This app allows you to compare historical Census data for a chosen geography (address, city, county or state)
                        </p>

                        {% include 'snippets/forms/address-search.html' %}

                        <p><a href="/proto">Prototype page</a></p>

                    </div>
                    <div class="col-sm-6">
                        <div class="lede-image">
                            <img id="image1" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Blank_US_Map_%28states_only%29.svg/800px-Blank_US_Map_%28states_only%29.svg.png" alt="United States">
                        </div>
                    </div>
                </div>





            </div>
        </div>




    <div class="container">

        <section>
                <div class="row">
                    <div>
                        <h2>Pick a state</h2>
                        {% include 'snippets/forms/state-selector.html' %}

                    </div>
                    <div class="col-sm-6" align="center">
                        <h3>...or a place</h3>
                        <ul>
                            <li><a href="geocode?address=detroit">Detroit</a></li>
                            <li><a href="geocode?address=palo+alto">Palo Alto</a></li>
                            <li><a href="geocode?address=brooklyn">Brooklyn</a></li>
                            <li><a href="geocode?address=chicago+il">Chicago</a></li>
                        </ul>
                    </div>
                    <div>
                        <h3>...or a category</h3>
                        <ul>
                            <li><a href="/demography">Demographics</a></li>
                            <li><a href="/housing">Housing</a></li>
                            <li><a href="/income">Income</a></li>
                            <li><a href="/residency">Residency</a></li>
                        </ul>
                    </div>
                    
        </section>
        
        <section id="homepagetables">
                <div id="homepagetables">
                <h3>Index: Most Gentrified Areas</h3>
                <table class="homepage">
                        <caption>TK</caption>
                        <th>Rank</th>
                        <th>2016</th>
                        <th>2000</th>
                            <tr>
                                <td>1</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>100</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>101</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>102</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>103</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>104</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                    </table>
                <img id="example" src="https://www.excel-easy.com/data-analysis/images/charts/switched-column-chart.png">

                </div>
                
                <div id="homepagetables">
                <h3>Areas with the greatest and least change in white population</h3>

                    <table class="homepage">
                        <caption>TK</caption>
                        <th>Rank</th>
                        <th>2016</th>
                        <th>2000</th>
                            <tr>
                                <td>1</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>100</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>101</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>102</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>103</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>104</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                                
                    </table>
                <img id="example" src="https://www.excel-easy.com/data-analysis/images/charts/switched-column-chart.png">

                </div>
                    
                <div id="homepagetables">
                <h3>Areas with the greatest and least change in median home value</h3>
                    <table class="homepage">
                        <caption>TK</caption>
                        <th>Rank</th>
                        <th>2016</th>
                        <th>2000</th>
                            <tr>
                                <td>1</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>100</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>101</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>102</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>103</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>104</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                    </table>
                <img id="example" src="https://www.excel-easy.com/data-analysis/images/charts/switched-column-chart.png">

                </div>
            
                <div id="homepagetables">
                    <h3>Areas with the greatest and least change in median income</h3>
                    <table class="homepage">
                        <caption>TK</caption>
                        <th>Rank</th>
                        <th>2016</th>
                        <th>2000</th>
                            <tr>
                                <td>1</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>100</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>101</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>102</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>103</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>104</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                    </table>
                <img id="example" src="https://www.excel-easy.com/data-analysis/images/charts/switched-column-chart.png">

                </div>
            
                <div id="homepagetables">
                    <h3>Areas with the greatest and least change in number of renters</h3>
                    <table class="homepage">
                        <caption>TK</caption>
                        <th>Rank</th>
                        <th>2016</th>
                        <th>2000</th>
                            <tr>
                                <td>1</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>100</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>101</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>102</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>103</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>104</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                    </table>
                <img id="example" src="https://www.excel-easy.com/data-analysis/images/charts/switched-column-chart.png">

                </div>
            
                <div id="homepagetables">
                <h3>Areas with the greatest and least change in number of people with bachelor's degree or higher</h3>
                    <table class="homepage">
                        <caption>TK</caption>
                        <th>Rank</th>
                        <th>2016</th>
                        <th>2000</th>
                            <tr>
                                <td>1</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>100</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>101</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>102</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>103</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>104</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                    </table>
                <img id="example" src="https://www.excel-easy.com/data-analysis/images/charts/switched-column-chart.png">

                </div>
            
                <div id="homepagetables">
                <h3>Areas with the greatest and leadt change in number below poverty level</h3>
                    <table class="homepage">
                        <caption>TK</caption>
                        <th>Rank</th>
                        <th>2016</th>
                        <th>2000</th>
                            <tr>
                                <td>1</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>100</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>101</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>102</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>103</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>104</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                    </table>
                <img id="example" src="https://www.excel-easy.com/data-analysis/images/charts/switched-column-chart.png">

                </div>
        </section>


    </div>


    {% include 'snippets/sitewide/footer.html' %}

