<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'snippets/sitewide/head-meta.html' %}
    {% include 'snippets/sitewide/head-map-meta.html' %}


    <title>Page Title</title>
</head>

<body class="">

{% include 'snippets/sitewide/header.html' %}
<div class="container">

    <h1 class="page-title">Prototype page!</h1>

    {% include 'snippets/mapstuff/map.html' %}

    <section id="debug">
        <h1>debug stuff</h1>
        
        <h5> TK:
            <ul>
                <li>
                    1) receive pop-up window when hovering over table cells to receive the delta between current and historical census data (ex: "This is xxx higher than in 2000). 
                </li>
                <li>
                    2) Click on cell to receive visualization of delta between years.
                </li> 
                <li>
                    3) Fix residency columns (Moved in between/Moved in before) 
                </li>
                <li>
                    4) Make values numbers - add in commas 
                </li>
            </ul>
        </h5>

        <h3>Query</h3>
        {{ address_query | tojson }}
    
        <h3>Coordinates</h3>
        <div style="overflow-x:auto;">
            <table class="proto">
                <tr>
                    <th>Name</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                </tr>

                <tr>
                    <td>{{ coords.name | tojson }} </td>
                    <td>{{ coords.latitude | tojson }}</td>
                    <td>{{ coords.longitude | tojson }}</td>
                </tr>
            
            </table>
        </div>

        <h3>Census Codes</h3>
        <div style="overflow-x:auto;">
            <table class="proto">
                <tr>
                    <th>County</th>
                    <th>Name</th>
                    <th>State</th>
                    <th>Tract</th>
                </tr>

                <tr>
                    <td>{{censuscodes.county | tojson }} </td>
                    <td>{{censuscodes.name | tojson }} </td>
                    <td>{{censuscodes.state | tojson }} </td>
                    <td>{{censuscodes.tract | tojson }} </td>
                </tr>
            </table>
        </div>

        <h3>Demographics</h3>
        <div id="proto" style="overflow-x:auto;">
            <table class="proto">
                <th>Geography</th>
                <th>Name</th>
                <th>Population</th>
                <th>Median Age</th>
                <th>Total white</th>
                <th>Total non-white</th>
                <th>Median home value</th>
                <th>Median household income</th>
                <th>Speak only English</th>
                    <tr>
                        <td>Tract</td>
                        <td>{{tract.name | tojson}}</td>
                        <td>{{tract.Population | tojson }} </td>
                        <td>{{tract.MedianAge | tojson }}</td>
                        <td>{{tract.PercentWhite | tojson }}</td>
                        <td>non-white</td>
                        <td>{{tract.Medianhomevalue | tojson}} </td>
                        <td>{{tract.Medianhouseholdincome | tojson }}</td>
                        <td>Speak only English</td>
                    </tr>
                    <tr>
                        <td>County</td>
                        <td>{{county.name | tojson}}</td>
                        <td>{{county.Population | tojson }} </td>
                        <td>{{county.MedianAge | tojson }}</td>
                        <td>{{county.PercentWhite | tojson }}</td>
                        <td>non-white</td>
                        <td>{{county.Medianhomevalue | tojson}} </td>
                        <td>{{county.Medianhouseholdincome | tojson }}</td>
                    </tr>
                    <tr>
                        <td>State</td>
                        <td>{{state.name | tojson}}</td>
                        <td>{{state.Population | tojson }} </td>
                        <td>{{state.MedianAge | tojson }}</td>
                        <td>{{state.PercentWhite | tojson }}</td>
                        <td>non-white</td>
                        <td>{{state.Medianhomevalue | tojson}} </td>
                        <td>{{state.Medianhouseholdincome | tojson }}</td>
                    </tr>
                    <tr>
                        <td>Country</td>
                        <td>{{us.name | tojson}}</td>
                        <td>{{us.Population | tojson }} </td>
                        <td>{{us.MedianAge | tojson }}</td>
                        <td>{{us.PercentWhite | tojson }}</td>
                        <td>non-white</td>
                        <td>{{us.Medianhomevalue | tojson}} </td>
                        <td>{{us.Medianhouseholdincome | tojson }}</td>
                    </tr>
            </table>
        </div>

        <h4>Housing</h4>
        <div id="proto" style="overflow-x:auto;">
            <table class="proto">
                <th>Geography</th>
                <th>Name</th>
                <th>Total housing units</th>
                <th>Homes worth $1 million+</th>
                <th>Moved in before 1999</th>
                <th>Moved in after 2000</th>
                <th>Renters</th>
                <th>Homeowners</th>
                    <tr>
                        <td>Tract</td>
                        <td>{{tract.name | tojson}}</td>
                        <td>{{tract.Homesworth1millionormore | tojson }} ({{tract.Percentofhomesworth1millionormore | tojson }}%)</td>
                        <td>{{tract.Movedin1979andearlier | tojson }} + {{tract.Movedin1980to1989 | tojson }} + {{tract.Movedin1990to1999 | tojson }}</td>
                        <td>{{tract.Movedin2010to2014 | tojson }}</td>
                        <td>{{tract.Movedin2015orlater | tojson }}</td>
                    </tr>
                    <tr>
                            <td>County</td>
                            <td>{{county.name | tojson}}</td>
                            <td>{{county.Homesworth1millionormore | tojson }} ({{county.Percentofhomesworth1millionormore | tojson }}%)</td>
                            <td>{{county.Movedin1979andearlier | tojson }}+{{county.Movedin1980to1989 | tojson }}+{{county.Movedin1990to1999 | tojson }}</td>
                            <td>{{county.Movedin2010to2014 | tojson }}</td>
                            <td>{{county.Movedin2015orlater | tojson }}</td>
                    </tr>
                    <tr>
                            <td>State</td>
                            <td>{{state.name | tojson}}</td>
                            <td>{{state.Homesworth1millionormore | tojson }} ({{state.Percentofhomesworth1millionormore | tojson }}%)</td>
                            <td>{{state.Movedin1979andearlier | tojson }}+{{state.Movedin1980to1989 | tojson }}+{{state.Movedin1990to1999 | tojson }}</td>
                            <td>{{state.Movedin2010to2014 | tojson }}</td>
                            <td>{{state.Movedin2015orlater | tojson }}</td>
                    </tr>
                    <tr>
                            <td>Country</td>
                            <td>{{us.name | tojson}}</td>
                            <td>{{us.Homesworth1millionormore | tojson }} ({{us.Percentofhomesworth1millionormore | tojson }}%)</td>
                            <td>{{us.Movedin1979andearlier | tojson }}+{{us.Movedin1980to1989 | tojson }}+{{us.Movedin1990to1999 | tojson }}</td>
                            <td>{{us.Movedin2010to2014 | tojson }}</td>
                            <td>{{us.Movedin2015orlater | tojson }}</td>
                    </tr>
                    
            </table>
        </div>

        <h4>Income and education</h4>
        <div id="proto" style="overflow-x:auto;">
            <table class="proto">
                    <th>Geography</th>
                    <th>Name</th>
                    <th>Household income $200k+</th>
                    <th>Below Poverty Level</th>
                    <th>Have a bachelor's degree</th>
                    <th>Income per capita</th>
                    <th>Population below poverty level</th>
                        <tr>
                            <td>Tract</td>
                            <td>{{tract.name | tojson}}</td>
                            <td>{{tract.Householdincome200k | tojson }} ({{tract.Percentofhouseholdswithincome200k | tojson }}%)</td>
                            <td>{{tract.Belowpovertylevel | tojson }} ({{tract.PercentBelowpovertylevel | tojson }}%)</td>
                            <td>{{tract.Haveatleastabachelorsdegree | tojson }} ({{tract.Percentwithbachelorsdegree | tojson }}%)</td>
                        </tr>
                        <tr>
                                <td>County</td>
                                <td>{{county.name | tojson}}</td>
                                <td>{{county.Householdincome200k | tojson }} ({{county.Percentofhouseholdswithincome200k | tojson }}%)</td>
                                <td>{{county.Belowpovertylevel | tojson }} ({{county.PercentBelowpovertylevel | tojson }}%)</td>
                                <td>{{county.Haveatleastabachelorsdegree | tojson }} ({{county.Percentwithbachelorsdegree | tojson }}%)</td>
                               
                            </tr>
                            <tr>
                                    <td>State</td>
                                    <td>{{state.name | tojson}}</td>
                                    <td>{{state.Householdincome200k | tojson }} ({{state.Percentofhouseholdswithincome200k | tojson }}%)</td>
                                    <td>{{state.Belowpovertylevel | tojson }} ({{state.PercentBelowpovertylevel | tojson }}%)</td>
                                    <td>{{state.Haveatleastabachelorsdegree | tojson }} ({{state.Percentwithbachelorsdegree | tojson }}%)</td>
                            </tr>
                            <tr>
                                    <td>Country</td>
                                    <td>{{us.name | tojson}}</td>
                                    <td>{{us.Householdincome200k | tojson }} ({{us.Percentofhouseholdswithincome200k | tojson }}%)</td>
                                    <td>{{us.Belowpovertylevel | tojson }} ({{us.PercentBelowpovertylevel | tojson }}%)</td>
                                    <td>{{us.Haveatleastabachelorsdegree | tojson }} ({{us.Percentwithbachelorsdegree | tojson }}%)</td>
                            </tr>
            </table>
        </div>
            
        <h4>Residency</h4>
        <div id="proto" style="overflow-x:auto;">
            <table class="proto">
                    <th>Geography</th>
                    <th>Name</th>
                    <th>Born in state</th>
                    <th>Born in other state</th>
                    <th>Foreign born</th>
                        <tr>
                            <td>Tract</td>
                            <td>{{tract.name | tojson}}</td>
                            <td>{{tract.Borninstate | tojson }} ({{tract.Percentborninstate | tojson }}%)</td>
                            <td>{{tract.Borninotherstate | tojson }} ({{tract.Percentborninotherstate | tojson }}%)</td>
                            <td>{{tract.Foreignborn | tojson }} ({{tract.Percentforeignborn | tojson }}%)</td>
                        </tr>
                        <tr>
                                <td>County</td>
                                <td>{{county.name | tojson}}</td>
                                <td>{{county.Borninstate | tojson }} ({{county.Percentborninstate | tojson }}%)</td>
                                <td>{{county.Borninotherstate | tojson }} ({{county.Percentborninotherstate | tojson }}%)</td>
                                <td>{{county.Foreignborn | tojson }} ({{county.Percentforeignborn | tojson }}%)</td>
                        </tr>
                        <tr>
                                <td>State</td>
                                <td>{{state.name | tojson}}</td>
                                <td>{{state.Borninstate | tojson }} ({{state.Percentborninstate | tojson }}%)</td>
                                <td>{{state.Borninotherstate | tojson }} ({{state.Percentborninotherstate | tojson }}%)</td>
                                <td>{{state.Foreignborn | tojson }} ({{state.Percentforeignborn | tojson }}%)</td>
                        </tr>
                        <tr>
                                <td>Country</td>
                                <td>{{us.name | tojson}}</td>
                                <td>{{us.Borninstate | tojson }} ({{us.Percentborninstate | tojson }}%)</td>
                                <td>{{us.Borninotherstate | tojson }} ({{us.Percentborninotherstate | tojson }}%)</td>
                                <td>{{us.Foreignborn | tojson }} ({{us.Percentforeignborn | tojson }}%)</td>
                        </tr>
            </table>
        </div>
    </section>

</div>
</body>
{% include 'snippets/sitewide/footer.html' %}

    
