<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'snippets/sitewide/head-meta.html' %}

    <title>State: {{state['name']}}</title>
</head>


<body class="state-page">

    {% include 'snippets/sitewide/header.html' %}

    <div class="container">




            <section id="main">

                <h1 class="page-title">Data for {{state['name']}}</h1>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Alabama_in_United_States.svg/2000px-Alabama_in_United_States.svg.png" alt="Alabama" align="center" height="250" width="400">


                <section id="race">
                    <h2>Race/Ethnicity Data (ACS 2016)</h2>

                    {% include 'snippets/data-tables/race-table.html' %}

                </section>


                <section id="housing">
                    <h2>Housing Data (ACS 2016)</h2>



                    {% include 'snippets/data-tables/housing-table.html' %}
                </section>


                <section id="income">
                    <h2>Income/Poverty Data (ACS 2016)</h2>

                    {% include 'snippets/data-tables/income-table.html' %}

                </section>


                <section id="residency">
                    <h2>Residency Data (ACS 2016)</h2>

                    {% include 'snippets/data-tables/residency-table.html' %}

                </section>
            </section>



            <section id="counties">

                <h2>Counties</h2>

                <table class="table table-sm table-bordered">



                    {% for c in counties %}

                    <tr>
                        <td>
                            <a href="/counties/{{c.GEO_ID}}">
                                {{ c.NAME }}
                            </a>
                        </td>
                    </tr>

                    {% endfor %}


                </table>

            </section>

    </div>




{% include 'snippets/sitewide/footer.html' %}



