<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'snippets/sitewide/head-meta.html' %}
    {% include 'snippets/sitewide/head-map-meta.html' %}

    <title>Tract</title>
</head>

<body class="tract">

{% include 'snippets/sitewide/header.html' %}


<div class="container">

    <section class="title">
        <h1 class="page-title">{{ tract.name }}, {{county.name}}</h1>

        <div class="query-note">Most relevant tract for: <code>{{ address_query }}</code></div>
    </section>

    <section class="lede">

        <div class="row">
            <div class="col-sm-6">

                <strong>[High/moderate/low gentrification]!</strong> This area is considered to be [low/moderate/highly] gentrified. There are x more/less white people in 2016 than in 2000, and the median age has increased/decreased by x. X % of people have a bachelor's degree, which is x more/less than in 2000. The median home value is x, an increase/decrease of x since 2000.


                <div class="row">
                    <div class="col-sm-6">
                        <a href="/gentrification">Gentrification Index Score</a>
                    </div>
                    <div class="col-sm-6">
                        22%
                    </div>
                </div>
                
                <div class="toc">
                <p>Explore information about '{{ address_query }}' by category:</p>
                    <ul class="list">
                        <li>
                            <a href="#demography">Demographics</a>
                        </li>
                        <li>
                            <a href="#housing">Housing</a>
                        </li>
                        <li>
                            <a href="#income">Income and education</a>
                        </li>
                        <li>
                            <a href="#residency">Residency</a>
                        </li>
                    </ul>
                </div>
                <div>
                        More information on <a href="/states/{{state.id}}"> {{state.name}} </a>
                    </div>
            </div>


            <div class="col-sm-6">
                    {% include 'snippets/mapstuff/map.html' %}
            </div>
        </div>


    </section>




    <section id="debug">

        {% include 'snippets/data-tables/tract-demographics.html' %}

        {% include 'snippets/data-tables/tract-housing.html' %}

        {% include 'snippets/data-tables/tract-income.html' %}

        {% include 'snippets/data-tables/tract-residency.html' %}



        <h4>Coordinates</h4>

        <div id="geotables" style="overflow-x:auto;">
                <table class="table table-bordered table-sm table-striped">
                    <tr>
                        <th>Name</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                    </tr>

                    <tr>
                        <td>{{ coords.name | tojson }} </td>
                        <td>{{ coords.latitude | tojson }}</td>
                        <td>{{ coords.longitude | tojson }}</td>
                    </tr>

                </table>
        </div>

        <h4>Census codes</h4>

        <div id="geotables" style="overflow-x:auto;">
            <table class="table table-bordered table-sm table-striped">
                    <tr>
                        <th>County</th>
                        <th>Name</th>
                        <th>State</th>
                        <th>Tract</th>
                    </tr>

                    <tr>
                        <td>{{censuscodes.county | tojson }} </td>
                        <td>{{censuscodes.name | tojson }} </td>
                        <td>{{censuscodes.state | tojson }} </td>
                        <td>{{censuscodes.tract | tojson }} </td>
                    </tr>
                </table>
            </div>


    </section>


</div>
{% include 'snippets/sitewide/footer.html' %}

