
<section id="gentrified-index" class="index">

    <h2>
        <a href="/gentrification">
            Most Gentrified Areas
        </a>
    </h2>

    <div class="description">
        <p>
            These are areas of the United States that rank highly on the <a href="/gentrification">Gentrification Index</a>. This index was created based on former analyses on gentrification by <a href="https://www.clevelandfed.org/newsroom-and-events/publications/economic-trends/2013-economic-trends/et-20131106-gentrification-and-financial-health.aspx">Daniel Hartley</a> at the Cleveland Federal Reserve and <a href="http://www.governing.com/gov-data/gentrification-in-cities-governing-report.html">Governing</a> magazine. The index uses data from the Census to calculate levels of gentrification, specifically: populations of white and nonwhite people; median age; median home values; percent of owner-occupied housing units; percent of people with at least a bachelor's degree; and income per capita. You can read about the background and analysis considerations on the <a href="/gentrification">Gentrification Index</a> page.
        </p>


        <table class="table  table-responsive table-bordered table-striped table-sm">
                    <thead>
                        <tr>
                            <th>State</th>
                            {% for k in gentrification_keys %}
                                <th>{{k}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for s in states %}

                            <tr>
                                <td>
                                    <a href="/state/{{s.id}}">{{ s.name }}</a>
                                </td>
                                {% for k in gentrification_keys %}
                                    <td>
                                        {{ s['gentrification'][k] }}
                                    </td>
                                {% endfor %}
                                <td>{{ s.gentrification_index }}</td>
                            </tr>

                        {% endfor %}
                    </tbody>
                    <caption>Average gentrification index score for all states: X</caption>
                </table>
                <img src="https://i.stack.imgur.com/uhhaw.png" id="exampleheatmap">
</div>


