<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'snippets/sitewide/head-meta.html' %}
    <title>Page Title</title>
</head>

{% include 'snippets/sitewide/header.html' %}

<div class="container">
<h3>Demographics</h3>

<table class="demographics">
        <th>Areas with greatest and least change in population</th>
        <th>Rank</th>
        <th>2016</th>
        <th>2000</th>
            <tr>
                <td>Name</td>
                <td>1</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>2</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>3</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>4</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>5</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>100</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>101</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>102</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>103</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>104</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
    </table>

<table class="demographics">
            <th>Areas with greatest and least change in median age</th>
            <th>Rank</th>
            <th>2016</th>
            <th>2000</th>
                <tr>
                    <td>Name</td>
                    <td>1</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>2</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>3</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>4</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>5</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>100</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>101</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>102</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>103</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>104</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
    </table>

<table class="demographics">
        <th>Areas with greatest and least change in population of white people</th>
        <th>Rank</th>
        <th>2016</th>
        <th>2000</th>
            <tr>
                <td>Name</td>
                <td>1</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>2</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>3</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>4</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>5</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>100</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>101</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>102</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>103</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>104</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
    </table>

<table class="demographics">
            <th>Areas with greatest and least change in non-white population</th>
            <th>Rank</th>
            <th>2016</th>
            <th>2000</th>
                <tr>
                    <td>Name</td>
                    <td>1</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>2</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>3</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>4</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>5</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>100</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>101</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>102</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>103</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>104</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
    </table>

<table class="demographics">
            <th>Areas with greatest and least change in median home value</th>
            <th>Rank</th>
            <th>2016</th>
            <th>2000</th>
                <tr>
                    <td>Name</td>
                    <td>1</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>2</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>3</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>4</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>5</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>100</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>101</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>102</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>103</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>104</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
    </table>

<table class="demographics">
            <th>Areas with greatest and least change in median home value</th>
            <th>Rank</th>
            <th>2016</th>
            <th>2000</th>
                <tr>
                    <td>Name</td>
                    <td>1</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>2</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>3</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>4</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>5</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>100</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>101</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>102</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>103</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>104</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
        </table>

<table class="demographics">
                <th>Areas with greatest and least change in English-only speakers</th>
                <th>Rank</th>
                <th>2016</th>
                <th>2000</th>
                    <tr>
                        <td>Name</td>
                        <td>1</td>
                        <td>Name</td>
                        <td>Name</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>2</td>
                        <td>Name</td>
                        <td>Name</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>3</td>
                        <td>Name</td>
                        <td>Name</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>4</td>
                        <td>Name</td>
                        <td>Name</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>5</td>
                        <td>Name</td>
                        <td>Name</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>100</td>
                        <td>Name</td>
                        <td>Name</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>101</td>
                        <td>Name</td>
                        <td>Name</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>102</td>
                        <td>Name</td>
                        <td>Name</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>103</td>
                        <td>Name</td>
                        <td>Name</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>104</td>
                        <td>Name</td>
                        <td>Name</td>
                    </tr>
        </table>

</div>
{% include 'snippets/sitewide/footer.html' %}


