<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'snippets/sitewide/head-meta.html' %}
    <title>Page Title</title>
</head>

{% include 'snippets/sitewide/header.html' %}

<div class="container" id="metricpages">
<h3>Demographics</h3>

<div id="metrictable">
<h5>Areas with the greatest and least change in population</h5>

<table class="demographics">
        <caption>TK</caption>
        <th>Rank</th>
        <th>2016</th>
        <th>2000</th>
            <tr>
                <td>1</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>100</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>101</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>102</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>103</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>104</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
    </table>
    <img id="example" src="https://www.excel-easy.com/data-analysis/images/charts/switched-column-chart.png">

</div>

<div id="metrictable">
<h5>Areas with greatest and least change in median age</h5>

<table class="demographics">
            <caption>TK</caption>
            <th>Rank</th>
            <th>2016</th>
            <th>2000</th>
                <tr>
                    <td>1</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>100</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>101</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>102</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>103</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>104</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
    </table>
    <img id="example" src="https://www.excel-easy.com/data-analysis/images/charts/switched-column-chart.png">

</div>

<div id="metrictable">
<h5>Areas with greatest and least change in population of white people</h5>
<table class="demographics">
        <caption>TK</caption>
        <th>Rank</th>
        <th>2016</th>
        <th>2000</th>
            <tr>
                <td>1</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>100</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>101</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>102</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>103</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>104</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
    </table>
    <img id="example" src="https://www.excel-easy.com/data-analysis/images/charts/switched-column-chart.png">

</div>

<div id="metrictable">
<h5>Areas with greatest and least change in non-white population</h5>
<table class="demographics">
            <caption>TK</caption>
            <th>Rank</th>
            <th>2016</th>
            <th>2000</th>
                <tr>
                    <td>1</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>100</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>101</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>102</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>103</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>104</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
    </table>
    <img id="example" src="https://www.excel-easy.com/data-analysis/images/charts/switched-column-chart.png">

</div>

<div id="metrictable">
<h5>Areas with greatest and least change in median home value</h5>
<table class="demographics">
            <caption>TK</caption>
            <th>Rank</th>
            <th>2016</th>
            <th>2000</th>
                <tr>
                    <td>1</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>100</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>101</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>102</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>103</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>104</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
    </table>
    <img id="example" src="https://www.excel-easy.com/data-analysis/images/charts/switched-column-chart.png">

</div>

<div id="metrictable">
<h5>Areas with greatest and least change in median home value</h5>
<table class="demographics">
            <caption>TK</caption>
            <th>Rank</th>
            <th>2016</th>
            <th>2000</th>
                <tr>
                    <td>1</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>100</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>101</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>102</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>103</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>104</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
        </table>
        <img id="example" src="https://www.excel-easy.com/data-analysis/images/charts/switched-column-chart.png">

</div>

<div id="metrictable">
<h5>Areas with greatest and least change in English-only speakers</h5>
<table class="demographics">
                <caption>TK</caption>
                <th>Rank</th>
                <th>2016</th>
                <th>2000</th>
                    <tr>
                        <td>1</td>
                        <td>Name</td>
                        <td>Name</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Name</td>
                        <td>Name</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Name</td>
                        <td>Name</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Name</td>
                        <td>Name</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Name</td>
                        <td>Name</td>
                    </tr>
                    <tr>
                        <td>100</td>
                        <td>Name</td>
                        <td>Name</td>
                    </tr>
                    <tr>
                        <td>101</td>
                        <td>Name</td>
                        <td>Name</td>
                    </tr>
                    <tr>
                        <td>102</td>
                        <td>Name</td>
                        <td>Name</td>
                    </tr>
                    <tr>
                        <td>103</td>
                        <td>Name</td>
                        <td>Name</td>
                    </tr>
                    <tr>
                        <td>104</td>
                        <td>Name</td>
                        <td>Name</td>
                    </tr>
        </table>
        <img id="example" src="https://www.excel-easy.com/data-analysis/images/charts/switched-column-chart.png">

</div>

</div>
{% include 'snippets/sitewide/footer.html' %}


