<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'snippets/sitewide/head-meta.html' %}
    <title>Page Title</title>
</head>
    {% include 'snippets/sitewide/header.html' %}

<div class="container" id="metricpages">
<h3>Housing</h3>

<div id="metrictable">
<h5>Areas with greatest and least change in number of homes worth $1 million+</h5>
<table class="housing">
        <caption>TK</caption>
        <th>Rank</th>
        <th>2016</th>
        <th>2000</th>
            <tr>
                <td>1</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>100</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>101</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>102</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>103</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>104</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
    </table>
    <img id="example" src="https://www.excel-easy.com/data-analysis/images/charts/switched-column-chart.png">

</div>

<div id="metrictable">
<h5>Areas with greatest and least change in number of people who moved in before 1999</h5>
<table class="housing">
            <caption>TK</caption>
            <th>Rank</th>
            <th>2016</th>
            <th>2000</th>
                <tr>
                    <td>1</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>100</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>101</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>102</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>103</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>104</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
    </table>
    <img id="example" src="https://www.excel-easy.com/data-analysis/images/charts/switched-column-chart.png">

</div>

<div id="metrictable">
<h5>Areas with greatest and least change in number of people who moved in after 2000</h5>
<table class="housing">
            <caption>TK</caption>
            <th>Rank</th>
            <th>2016</th>
            <th>2000</th>
                <tr>
                    <td>1</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>100</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>101</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>102</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>103</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>104</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
    </table>
    <img id="example" src="https://www.excel-easy.com/data-analysis/images/charts/switched-column-chart.png">

</div>

<div id="metrictable">
<h5>Areas with greatest and least change in number of homeowners</h5>
<table class="housing">
            <caption>TK</caption>
            <th>Rank</th>
            <th>2016</th>
            <th>2000</th>
                <tr>
                    <td>1</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>100</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>101</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>102</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>103</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>104</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
    </table>
    <img id="example" src="https://www.excel-easy.com/data-analysis/images/charts/switched-column-chart.png">

</div>

<div id="metrictable">
<h5>Areas with greatest and least change in number of renters</h5>
<table class="housing">
            <caption>TK</caption>
            <th>Rank</th>
            <th>2016</th>
            <th>2000</th>
                <tr>
                    <td>1</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>100</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>101</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>102</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>103</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>104</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
    </table>
    <img id="example" src="https://www.excel-easy.com/data-analysis/images/charts/switched-column-chart.png">

</div>

</div>
{% include 'snippets/sitewide/footer.html' %}


