<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'snippets/sitewide/head-meta.html' %}
    <title>Page Title</title>
</head>

{% include 'snippets/sitewide/header.html' %}

<div class="container">
<h4>Income and education</h4>

<div id="metrictable">
<table class="income">
        <caption>Areas with greatest and least change in income per capita</caption>
        <th>Rank</th>
        <th>2016</th>
        <th>2000</th>
            <tr>
                <td>1</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>100</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>101</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>102</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>103</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
            <tr>
                <td>104</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
    </table>
</div>

<div id="metrictable">
<table class="income">
            <caption>Areas with greatest and least change in number of households with 200k+ income</caption>
            <th>Rank</th>
            <th>2016</th>
            <th>2000</th>
                <tr>
                    <td>1</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>100</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>101</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>102</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>103</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>104</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
    </table>
</div>

<div id="metrictable">
<table class="income">
            <caption>Areas with greatest and least change in number of people below poverty level</caption>
            <th>Rank</th>
            <th>2016</th>
            <th>2000</th>
                <tr>
                    <td>1</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>100</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>101</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>102</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>103</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>104</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
    </table>
</div>

<div id="metrictable">
<table class="income">
            <caption>Areas with greatest and least change in number of people with bachelor's degree or higher</caption>
            <th>Rank</th>
            <th>2016</th>
            <th>2000</th>
                <tr>
                    <td>1</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>100</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>101</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>102</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>103</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>104</td>
                    <td>Name</td>
                    <td>Name</td>
                </tr>
    </table>
</div>

</div>
{% include 'snippets/sitewide/footer.html' %}


