<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'snippets/sitewide/head-meta.html' %}
    <title>Page Title</title>
</head>

{% include 'snippets/sitewide/header.html' %}

<div class="container">
        <h1>Metric Pages</h1>

        <h3>
            <a href="/demography">Demographics</a>
        </h3>
        
        <h3>
            <a href="/housing">Housing</a>
        </h3>
        
        <h3>
            <a href="/income">Income</a>
        </h3>
        
        <h3>
            <a href="/residency">Residency</a>
        </h3>
</div>

{% include 'snippets/sitewide/footer.html' %}


