<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'snippets/sitewide/head-meta.html' %}
    <title>Page Title</title>
</head>


{% include 'snippets/sitewide/header.html' %}

<h4>Residency</h4>
        <div style="overflow-x:auto;">
            <table class="proto">
                    <th>Geography</th>
                    <th>Name</th>
                    <th>Born in state</th>
                    <th>Born in other state</th>
                    <th>Foreign born</th>
                        <tr>
                            <td>Tract</td>
                            <td>{{tract.name | tojson}}</td>
                            <td>{{tract.Borninstate | tojson }} ({{tract.Percentborninstate | tojson }}%)</td>
                            <td>{{tract.Borninotherstate | tojson }} ({{tract.Percentborninotherstate | tojson }}%)</td>
                            <td>{{tract.Foreignborn | tojson }} ({{tract.Percentforeignborn | tojson }}%)</td>
                        </tr>
                        <tr>
                                <td>County</td>
                                <td>{{county.name | tojson}}</td>
                                <td>{{county.Borninstate | tojson }} ({{county.Percentborninstate | tojson }}%)</td>
                                <td>{{county.Borninotherstate | tojson }} ({{county.Percentborninotherstate | tojson }}%)</td>
                                <td>{{county.Foreignborn | tojson }} ({{county.Percentforeignborn | tojson }}%)</td>
                        </tr>
                        <tr>
                                <td>State</td>
                                <td>{{state.name | tojson}}</td>
                                <td>{{state.Borninstate | tojson }} ({{state.Percentborninstate | tojson }}%)</td>
                                <td>{{state.Borninotherstate | tojson }} ({{state.Percentborninotherstate | tojson }}%)</td>
                                <td>{{state.Foreignborn | tojson }} ({{state.Percentforeignborn | tojson }}%)</td>
                        </tr>
                        <tr>
                                <td>Country</td>
                                <td>{{us.name | tojson}}</td>
                                <td>{{us.Borninstate | tojson }} ({{us.Percentborninstate | tojson }}%)</td>
                                <td>{{us.Borninotherstate | tojson }} ({{us.Percentborninotherstate | tojson }}%)</td>
                                <td>{{us.Foreignborn | tojson }} ({{us.Percentforeignborn | tojson }}%)</td>
                        </tr>
            </table>
        </div>

{% include 'snippets/sitewide/footer.html' %}


