<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'snippets/sitewide/head-meta.html' %}
    <title>Page Title</title>
</head>


{% include 'snippets/sitewide/header.html' %}

<h4>Residency</h4>

<table class="residency">
                <th>Areas with greatest and least change in number of people born in state</th>
                <th>Rank</th>
                <th>2016</th>
                <th>2000</th>
                    <tr>
                        <td>Name</td>
                        <td>1</td>
                        <td>Name</td>
                        <td>Name</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>2</td>
                        <td>Name</td>
                        <td>Name</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>3</td>
                        <td>Name</td>
                        <td>Name</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>4</td>
                        <td>Name</td>
                        <td>Name</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>5</td>
                        <td>Name</td>
                        <td>Name</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>100</td>
                        <td>Name</td>
                        <td>Name</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>101</td>
                        <td>Name</td>
                        <td>Name</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>102</td>
                        <td>Name</td>
                        <td>Name</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>103</td>
                        <td>Name</td>
                        <td>Name</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>104</td>
                        <td>Name</td>
                        <td>Name</td>
                    </tr>
        </table>

<table class="residency">
                        <th>Areas with greatest and least change in number of people born out of state</th>
                        <th>Rank</th>
                        <th>2016</th>
                        <th>2000</th>
                            <tr>
                                <td>Name</td>
                                <td>1</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td>2</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td>3</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td>4</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td>5</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td>100</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td>101</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td>102</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td>103</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td>104</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
        </table>

<table class="residency">
                        <th>Areas with greatest and least change in number of foreign born</th>
                        <th>Rank</th>
                        <th>2016</th>
                        <th>2000</th>
                            <tr>
                                <td>Name</td>
                                <td>1</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td>2</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td>3</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td>4</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td>5</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td>100</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td>101</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td>102</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td>103</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td>104</td>
                                <td>Name</td>
                                <td>Name</td>
                            </tr>
        </table>
{% include 'snippets/sitewide/footer.html' %}


