<footer class="footer" id='site-footer'>
    <div class="container">
        <h2>About this project</h2>


        <div class="row">
            <div class="col-sm-7">
                <p>This app was created as a master's thesis project for the Stanford Journalism Program. The app uses historical Census data to better visualize gentrification in the United States.
                </p>

                <p> The homepage provides an overview of places that have dynamic rates of change for data points related to gentrification. As a practical tool, you can view your own neighborhood, city or state to see how demographics and populations have changed over time. Or, view data by category: demographics, housing, income and residency.</p>
            </div>

            <div class="col-sm-3 offset-sm-2">
                <ul class="list list-unstyled site-nav-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/info/methodology">Methodology</a></li>
                    <li><a href="http://peninsulapress.com/author/anthonymiller/">Anthony's Peninsula Press</a></li>
                </ul>
            </div>
        </div>


    </div>
</footer>


</body>
</html>
