<footer class="footer" id='site-footer'>
    <div class="container">
        <h2>About this project</h2>


        <div class="row">
            <div class="col-sm-7">
                <p>This app was created for a master's thesis project for the Stanford Journalism Program. Interested in identifying areas of gentrification, I sought to compare historical Census data surveys (ACS and Decennial surveys) to better visualize areas of intense gentrification.
                </p>

                <p>As a practical tool, you can view your own neighborhood, city or state to see how demographics and populations have changed over time.</p>
            </div>

            <div class="col-sm-3 offset-sm-2">
                <ul class="list list-unstyled site-nav-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/info/methodology">Methodology</a></li>
                    <li><a href="/info/examples">Examples</a></li>
                    <li><a href="http://twitter.com/anth0nyjmiller">Anthony's Twitter</a></li>
                    <li><a href="http://peninsulapress.com/author/anthonymiller/">Anthony's Peninsula Press</a></li>
                </ul>
            </div>
        </div>


    </div>
</footer>


</body>
</html>
