<footer class="footer" id='site-footer'>
    <div class="container">
        <h2><a href="/">About this site</a></h2>


        <div class="row">
            <div class="col-sm-8">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi maiores delectus, ut nostrum facilis dignissimos nemo sed eligendi voluptatem, mollitia nihil iste labore doloribus laboriosam dolorum molestiae aliquid adipisci voluptas.
                </p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam doloremque obcaecati tenetur, cum impedit, ab unde sit minima sint id ea excepturi. Cumque reprehenderit perspiciatis nostrum, necessitatibus cupiditate architecto voluptas.</p>

            </div>
            <div class="col-sm-4">
                <ul class="list list-unstyled site-nav-links">
                    <li><a href="/info/methodology">Methodology</a></li>
                    <li><a href="/info/sample">Examples</a></li>
                    <li><a href="#">Anthony's Homepage</a></li>
                    <li><a href="#">Anthony's Peni Press</a></li>
                </ul>
            </div>
        </div>


    </div>
</footer>


</body>
</html>
