
<header id="site-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="title"><a href="/">Visualizing Gentrification</a></h1>
            </div>
            <div class="col-sm-6">
                <ul class="list list-inline" class="navbar">
                    <li class="list-inline-item"><a href="/">Home</a></li>
                    <li class="list-inline-item"><a href="/info/sample">Sample</a></li>
                    <li class="list-inline-item"><a href="/info/methodology">Methodology</a></li>
                </ul>
            </div>
        </div>

    </div>
</header>
